django==1.11.11
django-tagging==0.4.6
django-reversion==2.0.13
django-bootstrap3==9.1.0
django-summernote==0.8.8.6
unicodecsv==0.14.1
django-modeltranslation==0.12.2
django-registration==2.2
django-contrib-comments==1.8.0
django-guardian==1.4.9
django-notifications-hq==1.3