django==1.11
django-tagging==0.4.5
django-reversion==2.0.8
django-bootstrap3==8.2.2
django-summernote==0.8.6
unicodecsv==0.14.1
django-modeltranslation==0.12.1
django-registration==2.2
django-contrib-comments==1.8.0