django==2.2.9
django-tagging==0.4.6
django-reversion==2.0.13
django-bootstrap3==11.0.0
django-summernote==0.8.8.8
django-modeltranslation==0.14.0
django-registration==2.4.1
django-contrib-comments==1.9.0
django-guardian==1.4.9
django-notifications-hq==1.4
