{% load i18n %}
<div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">{% blocktrans %}Terms of service{% endblocktrans %}</h4>
    </div>
    <div class="panel-body">
        <h4>{% blocktrans %}By creating an account on this site you (later "user") agree to the following conditions:{% endblocktrans %}</h4>
        <p>{% blocktrans %}The user will not abuse the service, any malicious activity is strictly prohibited.
            Any data on the site is confidential unless stated otherwise, and should be handled as such.
            The user agrees to not copy or spread the data or the information found on the site, unless given permission.
            The user should only add in data or information user has been approved to add. Any copyrighted material added without the permission of the copyright holders is strictly prohibited.
            The user is responsible for making sure that laws or copyrights are followed when submitting data or information.
            The users account can be terminated or access limited without a notice if the user fails to comply with the rules.{% endblocktrans %}</p>
    </div>
</div>