{% extends "baselayout.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}
<div id='registrationform' class="col-md-8 col-md-offset-2">
    <h3>{% blocktrans %}Register an account{% endblocktrans %}</h3>

    <div class="well well-lg">
        <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-info">
                {# Translators: Submit button text (bootstrap) #}
                {% blocktrans %}Submit{% endblocktrans %}
            </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}


