{% extends "baselayout.html" %}
{% load i18n %}

{% block jqueryready %}



{% endblock %}

{% block script %}

{% endblock %}

{% block bodyid %}id='pages'{% endblock %}


{% block content %}

{# show the edit button if the user has permission to change pages #}
{% if perms.pages.change %}
<div id="editbutton">
    {# Translators: Edit button #}
    <a href="/admin/pages/page/{{page.id}}/">{% blocktrans %}[Edit]{% endblocktrans %}</a>
</div>
{% endif %}


{% block topcontent %}
{% endblock %}

{% block pagecontent %}
   {{ page.content }}
{% endblock %}


{% block bottomcontent %}
{% endblock %}


{% endblock %}
