.dataset-0-color {
background-color: rgba(173, 132, 67, 1);
}
.dataset-1-color {
background-color: rgba(255, 113, 91, 1);
}
.dataset-2-color {
background-color: rgba(151, 84, 206, 1);
}
.dataset-3-color {
background-color: rgba(88, 104, 181, 1);
}
.dataset-4-color {
background-color: rgba(229, 196, 64, 1);
}
.dataset-5-color {
background-color: rgba(69, 75, 102, 1);
}
.dataset-6-color {
background-color: rgba(232, 81, 123, 1);
}
.dataset-7-color {
background-color: rgba(89, 201, 165, 1);
}
.dataset-8-color {
background-color: rgba(181, 178, 128, 1);
}
.dataset-9-color {
background-color: rgba(99, 60, 96, 1);
}