{% extends "baselayout.html" %}
{% load i18n %}

{% block script %}

{% endblock %}

{% block content %}


<form action="/video/upload/" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{form}}
{# Translators: Submit button #}
<input type='submit' value='{% blocktrans %}submit{% endblocktrans %}'/>
</form>


{% if video %}
{# Translators: Text preceding file url #}
<p>{% blocktrans %}File:{% endblocktrans %} {{video.videofile.url}}</p>

<video src="{{video.videofile.url}}"/>

{% endif %}



{% if error %}
{# Translators: Text preceding error message #}
<p>{% blocktrans %}Error:{% endblocktrans %} {{error}}</p>
{% endif %}

{% endblock %}
