{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {# Translator: Title for under maintenance page #}
        <title>{% blocktrans %}FinSL Signbank{% endblocktrans %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>

    <body bgcolor="#FFFFFF" text="#385400" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
        {# Translator: Text - under maintenance #}
        <p align=center style='font-size: xx-large; margin: 2em;' >{% blocktrans %}The FinSL Signbank Site is Down for Maintenance{% endblocktrans %}</p>
        {# Translator: Text - apologise #}
        <p align=center>{% blocktrans %}We apologise for any inconvenience.{% endblocktrans %}</p>
    </body>
</html>