{% extends "baselayout.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block bootstrap3_title %}Signbank: Add Gloss{% endblock %}
{% block extrahead %}
{% endblock %}
 
 
{% block content %}

 
   {% if perms.dictionary.add_gloss %}

        {{add_gloss_form.non_field_errors}}
         <div id='add_gloss_form'>
             <form action='{% url "dictionary:add_gloss" %}' method='post'>
                 {% csrf_token %}
                 <table class='table'>
                     <tr>
                         {# Translators: ID Gloss - add gloss form title #}
                         <th><label for='id_idgloss'>{% blocktrans %}Lemma ID Gloss{% endblocktrans %}</label></th>
                         {# Translators: Annotation ID Gloss - add gloss form title #}
                         <th><label for='id_annotation_idgloss_jkl'>{% blocktrans %}Annotation ID Gloss{% endblocktrans %}</label></th>
                         {# Translators: Annotation ID Gloss (English) - add gloss form title #}
                         <th><label for='id_annotation_idgloss_en'>{% blocktrans %}Annotation ID Gloss (English){% endblocktrans %}</label></th>
                         <th></th>
                     </tr>
                     <tr>
                         <td>{{add_gloss_form.idgloss}}</td>
                         <td>{{add_gloss_form.annotation_idgloss_jkl}}</td>
                         <td>{{add_gloss_form.annotation_idgloss_en}}</td>
                         {# Translators: Button #}
                         <td><input class='btn btn-primary' type='submit' value='{% blocktrans %}Add New Sign{% endblocktrans %}'></td>
                     </tr>
                 </table>
                 
             </form>
             {% if add_gloss_form.sn.errors %}
             {# Translators: Title#}
             <h2>{% blocktrans %}Error{% endblocktrans %}</h2>
                 {# Translators: Error message #}
                 <p>{% blocktrans %}A sign with that Sign Number already exists. Please choose a different Sign Number.{% endblocktrans %}</p>
             {% endif %}
        </div>
      {% endif %}
      
{% endblock %}