{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}
    {% if perms.dictionary.add_gloss %}
    <div id="addgloss">
        {# Translators: #}
        <h3>{% blocktrans %}Please provide some initial data{% endblocktrans %}:</h3>
        <form action='{% url "dictionary:add_gloss" %}' method='post'>
            {% csrf_token %}

            {% bootstrap_field add_gloss_form.idgloss set_required=True %}
            {% bootstrap_field add_gloss_form.annotation_idgloss_jkl set_required=False %}
            {% bootstrap_field add_gloss_form.annotation_idgloss_jkl_en set_required=False %}
            {% bootstrap_field add_gloss_form.annotation_idgloss_hki set_required=False %}
            {% bootstrap_field add_gloss_form.annotation_idgloss_hki_en set_required=False %}



            <input class='btn btn-primary' type='submit' value='{% blocktrans %}Add New Sign{% endblocktrans %}'>
        </form>
    </div>
    {% else %}
    {# Translators: Message that appears if user doesn't have proper user rights to view this page. #}
    <p>{% blocktrans %}You do not have sufficient user rights to view this page.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}