{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}
    {% if perms.dictionary.add_gloss %}
    <div id="addgloss">
        {# Translators: #}
        <h3>{% blocktrans %}Add a Gloss{% endblocktrans %}:</h3>
        <form enctype="multipart/form-data" action='{% url "dictionary:add_gloss" %}' method='post'>
            {% csrf_token %}

            {% bootstrap_field add_gloss_form.dataset %}

            {% bootstrap_field add_gloss_form.idgloss %}
            {% bootstrap_field add_gloss_form.idgloss_en %}

            {% bootstrap_field add_gloss_form.videofile %}
            {% bootstrap_field add_gloss_form.video_title %}

            <input class='btn btn-primary' type='submit' value='{% blocktrans %}Add New Sign{% endblocktrans %}'>
        </form>
    </div>
    {% else %}
    {# Translators: Message that appears if user doesn't have proper user rights to view this page. #}
    <p>{% blocktrans %}You do not have sufficient user rights to view this page.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}