{% extends "baselayout.html" %}
{% load bootstrap3 %}
{% load i18n %}
{# Translators: Title for sign search page #}
{% block bootstrap3_title %}{% blocktrans %}Signbank: Search Signs{% endblocktrans %}{% endblock %}
{% block extrahead %}
{% endblock %}

{% block extrajs %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

    <script type='text/javascript'>
    
    
    $(document).ready(function(){
        
        
        $('.collapsetoggle').click(function() {
            if ($(this).text() == 'Show') {
                $(this).text('Hide');
            } else {
                $(this).text('Show');
            }
        });
        
        
    });



// http://www.javascript-coder.com/javascript-form/javascript-reset-form.phtml
function clearForm(myFormElement) {

  var elements = myFormElement.elements;

  myFormElement.reset();

  for(i=0; i<elements.length; i++) {

      field_type = elements[i].type.toLowerCase();
    
      switch(field_type) {
    
        case "text":
        case "password":
        case "textarea":
        case "hidden":
    
          elements[i].value = "";
          break;
    
        case "radio":
        case "checkbox":
            if (elements[i].checked) {
              elements[i].checked = false;
          }
          break;
    
        case "select-one":
        case "select-multiple":
                    elements[i].selectedIndex = -1;
          break;
    
        default:
          break;
      }
    }
    return(false);
}
   </script>
{% endblock %}


{% block content %}

{# Translators: admin_gloss_list header #}
<h2>{% blocktrans %}Search{% endblocktrans %}</h2>
<div id='searchformwell' class='well well-sm'>
    <form name='adminsearch' id='adminsearch'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class='input-group'>
                        <label class='input-group-addon' for='id_idgloss'>{{searchform.search.label}}</label>
                        <input name='search' class='form-control' {% if searchform.search.value %}value='{{searchform.search.value}}' {% endif %}>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class='input-group'>
                        <label class='input-group-addon' for='id_annotation_idgloss_jkl'>{{searchform.JKLGloss.label}}</label>
                        <input name='JKLGloss' class='form-control' {% if searchform.JKLGloss.value %}value='{{searchform.JKLGloss.value}}' {% endif %}>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class='input-group'>
                        <label class='input-group-addon' for='id_annotation_idgloss_hki'>{{searchform.HKIGloss.label}}</label>
                        <input name='HKIGloss' class='form-control' {% if searchform.HKIGloss.value %}value='{{searchform.HKIGloss.value}}' {% endif %}>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class='input-group'>
                        <label class='input-group-addon' for='id_annotation_idgloss_jkl_en'>{{searchform.JKLenglishGloss.label}}</label>
                        <input name='JKLenglishGloss' class='form-control' {% if searchform.JKLenglishGloss.value %}value='{{searchform.JKLenglishGloss.value}}' {% endif %}>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class='input-group'>
                        <label class='input-group-addon' for='id_annotation_idgloss_hki_en'>{{searchform.HKIenglishGloss.label}}</label>
                        <input name='HKIenglishGloss' class='form-control' {% if searchform.HKIenglishGloss.value %}value='{{searchform.HKIenglishGloss.value}}' {% endif %}>
                    </div>
                </div>
                 <div class="col-md-4 col-sm-6">
                    <div class='input-group'>
                        <label class='input-group-addon' for='id_keyword'>{{searchform.keyword.label}}</label>
                        <input name='keyword' class='form-control' {% if searchform.keyword.value %}value='{{searchform.keyword.value}}' {% endif %}>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                   <div class='input-group'>
                        <label class='input-group-addon' for='id_annotation_comments'>{{searchform.annotation_comments.label}}</label>
                        <input name='annotation_comments' class='form-control' {% if searchform.annotation_comments.value %}value='{{searchform.annotation_comments.value}}' {% endif %}>
                   </div>
                </div>
            </div>
        </div>


        <div class="panel-group">
            <div  class="panel panel-default">
                {# Translators: Search by language #}
                <div class="panel-heading" data-toggle="collapse" data-target="#searchpanels">
                    <h3 class="panel-title">{% blocktrans %}Search by Language and Basic Properties{% endblocktrans %}</h3>
                </div>
                <div class="row">

                    <div id="searchpanels" class="panel-body collapse">
                        <div class='col-md-6 col-sm-12 '>
                            <div class="input-group">
                            <label class='input-group-addon' for='id_language'>{{searchform.language.label}}</label>
                            {{searchform.language}}
                            </div>
                        </div>
                        <div class='col-md-6 col-sm-12'>
                            <div class="input-group">

                            <label class='input-group-addon' for='id_dialect'>{{searchform.dialect.label}}</label>
                            {{searchform.dialect}}
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>

        <div class='btn-group'>
            <input class='btn btn-primary' type='submit' name='submit' value='{% blocktrans %}Search{% endblocktrans %}'>
            {% if perms.dictionary.export_csv %}
            <input class='btn btn-default' type='submit' name='format' value='{% blocktrans %}CSV{% endblocktrans %}'>
            {% endif %}
            <input class='btn btn-default' type='submit' onclick="clearForm(document.adminsearch);" value='{% blocktrans %}Reset{% endblocktrans %}'>
        </div>

        <div class='form-group' id='paginate_by'>
        {# Translators: How many results to fit per page  #}
        <label for='paginate_by'>{% blocktrans %}Results per page{% endblocktrans %}</label>
        <select class='form-control' name="paginate_by">
            <option>3000</option>
            <option>2000</option>
            <option>1000</option>
            <option>500</option>
          <option>100</option>
            <option>50</option>
            <option>25</option>
            <option>10</option>
        </select>
        </div>


    </form>
</div>

{# Translators: How many matches out of possible  #}
<p>{% blocktrans %}Number of matches:{% endblocktrans %} {{ page_obj.paginator.count }} {% blocktrans %}out of{% endblocktrans %} {{glosscount}}.</p>

{% if object_list %}
<table class='table table-condensed'>
    <thead>
      <tr>
         {% for name, value in object_list.0.admin_fields %}

           {# It seems like this if-clause inserts translation equivalents in the gloss list #}
           {# The number in the forloop counter means where to insert the table title for these fields #}
           {% if forloop.counter == 1 %}
                <th>{{ name }} <a href="?search={{request.GET.search}}{% for key,value in request.GET.items %}{% if not key  == 'search' %}&{{ key }}={{ value }}{% endif %}{% endfor %}&order_by=idgloss{% if request.GET.order == 'desc' %}&order=asc{% else %}&order=desc{% endif %}">
                    <span class="{% if request.GET.order == 'desc' %}glyphicon glyphicon-sort-by-alphabet{% else %}glyphicon glyphicon-sort-by-alphabet-alt{% endif %}" aria-hidden="true"></span></a></th>
           {% elif forloop.counter == 3 %}
               {# This inserts the desired name for the table label - translation equivalents #}
               <th>{{ name }}</th>
               <th>{% blocktrans %}Translation equivalents{% endblocktrans %}</th>
		   {% else %}
               <th>{{ name }}</th>
		   {% endif %}
		   
         {% endfor %}
           <th>Tags</th>
      </tr>
    </thead>
    <tbody>
    {% for gloss in object_list %}
        <tr {% if gloss.has_video %}class="success"{% endif %}>
            {% for name, value in gloss.admin_fields %}
                {% if forloop.first %}{# This forloop.counter adds links to first columns #}
                <td><a href="/dictionary/gloss/{{gloss.pk}}/">{{value}}</a></td>
                {# This forloop.counter adds regular values, and then adds after them translation equiv values #}
                {% elif forloop.counter == 3 %}
                <td>{{ value }}</td>
                <td>
                {% for translation in gloss.translation_set.all %}{# Set a comma after all items except the last one #}
                    {% if forloop.last %}{{ translation.translation }}
                    {% else %}{{ translation.translation }},{% endif %}
                {% endfor %}
                </td>
                {% else %}
                <td>{{ value }}</td>
                {% endif %}
            {% endfor %}
                <td>{% for tag in gloss.tags %}<span class='tag'>{{tag}}</span> {% endfor %}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
    <span class="step-links">

        <ul class='pagination pagination-sm'>
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&laquo;</a></li>
        {% endif %}
          
          {% if  page_obj.number > 10 %}
            <li><a>...</a></li>
          {% endif %}

          {% for p in page_obj.paginator.page_range %}
          
             {% if p < page_obj.number|add:"10" and  p > page_obj.number|add:"-10" %}
             <li {% ifequal p page_obj.number %}class='active'{% endifequal %}>
             <a href='?page={{ p }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}'>{% ifequal p 0 %}Start{% else %}{{p}}{% endifequal %}</a>
             </li>
             {% endif %}
         
          {% endfor %}
  
          {% if page_obj.paginator.num_pages > page_obj.number|add:"10" %}
            <li><a>...</a></li>
            <li>
            <a href='?page={{ page_obj.paginator.num_pages }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}'>{{page_obj.paginator.num_pages}}</a>
            </li>
          {% endif %}
      
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&raquo;</a></li>

            
      </ul>


        {% endif %}
    </span>
</div>





{% endif %}

{% endblock content %}
