{% extends "baselayout.html" %}
{% load bootstrap3 %}
{% load i18n %}
{# Translators: Title for sign search page #}
{% block bootstrap3_title %}{% blocktrans %}Signbank: Search Signs{% endblocktrans %}{% endblock %}
{% block extrahead %}
{% endblock %}

{% block extrajs %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

    <script type='text/javascript'>
    
    
    $(document).ready(function(){
        
        
        $('.collapsetoggle').click(function() {
            if ($(this).text() == 'Show') {
                $(this).text('Hide');
            } else {
                $(this).text('Show');
            }
        });
        
        
    });



// http://www.javascript-coder.com/javascript-form/javascript-reset-form.phtml
function clearForm(myFormElement) {

  var elements = myFormElement.elements;

  myFormElement.reset();

  for(i=0; i<elements.length; i++) {

      field_type = elements[i].type.toLowerCase();
    
      switch(field_type) {
    
        case "text":
        case "password":
        case "textarea":
        case "hidden":
    
          elements[i].value = "";
          break;
    
        case "radio":
        case "checkbox":
            if (elements[i].checked) {
              elements[i].checked = false;
          }
          break;
    
        case "select-one":
        case "select-multiple":
                    elements[i].selectedIndex = -1;
          break;
    
        default:
          break;
      }
    }
    return(false);
}
   </script>
{% endblock %}


{% block content %}

{# Translators: admin_gloss_list header #}
<h2>{% blocktrans %}Search{% endblocktrans %}</h2>
<div id='searchformwell' class='well well-sm'>
    <form name='adminsearch' id='adminsearch'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% bootstrap_label searchform.dataset.label %}
                        </div>
                        <div class="panel-body">
                            {% bootstrap_field searchform.dataset set_required=False show_label=False bound_css_class="not-bound" %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 searchinput">
                    <div class='input-group'>
                        <label class='input-group-addon' for='id_idgloss'>{{searchform.search.label}}</label>
                        <input id="id_idgloss" name='search' class='form-control' {% if searchform.search.value %}value='{{searchform.search.value}}' {% endif %}>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 searchinput">
                    <div class='input-group'>
                        <label class='input-group-addon' for='id_idgloss_en'>{{searchform.idgloss_en.label}}</label>
                        <input id="id_idgloss_en" name='idgloss_en' class='form-control' {% if searchform.idgloss_en.value %}value='{{searchform.idgloss_en.value}}' {% endif %}>
                    </div>
                </div>
                 <div class="col-md-4 col-sm-6 searchinput">
                    <div class='input-group'>
                        <label class='input-group-addon' for='id_keyword'>{{searchform.keyword.label}}</label>
                        <input id="id_keyword" name='keyword' class='form-control' {% if searchform.keyword.value %}value='{{searchform.keyword.value}}' {% endif %}>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 searchinput">
                   <div class='input-group'>
                        <label class='input-group-addon' for='id_annotation_comments'>{{searchform.annotation_comments.label}}</label>
                        <input id="id_annotation_comments" name='annotation_comments' class='form-control' {% if searchform.annotation_comments.value %}value='{{searchform.annotation_comments.value}}' {% endif %}>
                   </div>
                </div>
            </div>
        </div>


        <div class="panel-group">
            <div  class="panel panel-default">
                {# Translators: Search by language #}
                <div class="panel-heading" data-toggle="collapse" data-target="#searchpanels">
                    <h3 class="panel-title">{% blocktrans %}Search by Language and Basic Properties{% endblocktrans %}</h3>
                </div>
                <div class="row">

                    <div id="searchpanels" class="panel-body collapse">
                        <div class='col-md-6 col-sm-12 '>
                            <div class="input-group">
                            <label class='input-group-addon' for='id_language'>{{searchform.language.label}}</label>
                            {{searchform.language}}
                            </div>
                        </div>
                        <div class='col-md-6 col-sm-12'>
                            <div class="input-group">

                            <label class='input-group-addon' for='id_dialect'>{{searchform.dialect.label}}</label>
                            {{searchform.dialect}}
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>

        <div class='btn-group'>
            <input class='btn btn-primary' type='submit' name='submit' value='{% blocktrans %}Search{% endblocktrans %}'>
            {% if perms.dictionary.export_csv %}
            <input class='btn btn-default' type='submit' name='format' value='{% blocktrans %}CSV{% endblocktrans %}'>
            {% endif %}
            <input class='btn btn-default' type='submit' onclick="clearForm(document.adminsearch);" value='{% blocktrans %}Reset{% endblocktrans %}'>
        </div>

        <div class='form-group' id='paginate_by'>
            {# Translators: How many results to fit per page  #}
            <label for='paginate_by'>{% blocktrans %}Results per page{% endblocktrans %}</label>
            <select class='form-control' name="paginate_by">
                <option{% if paginator.per_page == 3000 %} selected="selected"{% endif %}>3000</option>
                <option{% if paginator.per_page == 2000 %} selected="selected"{% endif %}>2000</option>
                <option{% if paginator.per_page == 1000 %} selected="selected"{% endif %}>1000</option>
                <option{% if paginator.per_page == 500 %} selected="selected"{% endif %}>500</option>
                <option{% if paginator.per_page == 100 %} selected="selected"{% endif %}>100</option>
                <option{% if paginator.per_page == 50 %} selected="selected"{% endif %}>50</option>
                <option{% if paginator.per_page == 25 %} selected="selected"{% endif %}>25</option>
                <option{% if paginator.per_page == 10 %} selected="selected"{% endif %}>10</option>
            </select>
        </div>


    </form>
</div>

{# Translators: How many matches out of possible  #}
<p>{% blocktrans %}Number of matches:{% endblocktrans %} {{ page_obj.paginator.count }} {% blocktrans %}out of{% endblocktrans %} {{glosscount}}.</p>

{% if object_list %}
<table class='table table-condensed'>
    <thead>
      <tr>
         {% for name, value in object_list.0.admin_fields %}
            {# The number in the forloop counter means where to insert the table title for these fields #}
            {% if forloop.counter == 1 %}
                <th>{{ name }} <a href="?search={{request.GET.search}}{% for key,value in request.GET.items %}{% if not key  == 'search' and not key == 'order' %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% if order == 'idgloss' or request.GET.order == 'idgloss' %}&order=-idgloss{% else %}&order=idgloss{% endif %}">
                    <span class="{% if request.GET.order|slice:":1" == "-" %}glyphicon glyphicon-sort-by-alphabet{% else %}glyphicon glyphicon-sort-by-alphabet-alt{% endif %}" aria-hidden="true"></span></a></th>
            {% elif forloop.counter == 2 %}
               {# This inserts the desired name for the second label - and adds translation equivalents after it #}
               <th>{{ name }}</th>
               <th>{% blocktrans %}Translation equivalents{% endblocktrans %}</th>
            {% else %}
               <th>{{ name }}</th>
            {% endif %}
         {% endfor %}
           <th>Tags</th>
      </tr>
    </thead>
    <tbody>
    {% for gloss in object_list %}
        {# Here we decide/change the row background colors #}
        <tr {% if gloss.locked %}class="success"{% elif gloss.has_video %}class="warning"{% else %}class="danger"{% endif %}>
            {% for name, value in gloss.admin_fields %}
                {% if forloop.first %}{# This forloop.counter adds links to first columns #}
                <td><a href="/dictionary/gloss/{{gloss.pk}}/">{{value}}</a></td>
                {# This forloop.counter adds regular values, and then adds after them translation equiv values #}
                {% elif forloop.counter == 2 %}
                <td><a href="/dictionary/gloss/{{gloss.pk}}/">{{ value }}</a></td>
                <td>
                {% for translation in gloss.translation_set.all %}{# Set a comma after all items except the last one #}
                    {% if forloop.last %}{{ translation.translation }}
                    {% else %}{{ translation.translation }},{% endif %}
                {% endfor %}
                </td>
                {% else %}
                <td>{{ value }}</td>
                {% endif %}
            {% endfor %}
                <td>{% for tag in gloss.tags %}<span class='tag'>{{tag}}</span> {% endfor %}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
    <span class="step-links">

        <ul class='pagination pagination-sm'>
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&laquo;</a></li>
        {% endif %}
          
          {% if  page_obj.number > 10 %}
            <li><a>...</a></li>
          {% endif %}

          {% for p in page_obj.paginator.page_range %}
          
             {% if p < page_obj.number|add:"10" and  p > page_obj.number|add:"-10" %}
             <li {% ifequal p page_obj.number %}class='active'{% endifequal %}>
             <a href='?page={{ p }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}'>{% ifequal p 0 %}Start{% else %}{{p}}{% endifequal %}</a>
             </li>
             {% endif %}
         
          {% endfor %}
  
          {% if page_obj.paginator.num_pages > page_obj.number|add:"10" %}
            <li><a>...</a></li>
            <li>
            <a href='?page={{ page_obj.paginator.num_pages }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}'>{{page_obj.paginator.num_pages}}</a>
            </li>
          {% endif %}
      
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&raquo;</a></li>

            
      </ul>


        {% endif %}
    </span>
</div>
{# Bootstrap3 responsive table for explaining the color meanings #}
<div id="row-color-explanation" class="table-responsive">
    <table class="table">
        <tr>
        <td><strong>{% blocktrans %}Row colors:{% endblocktrans %}</strong></td>
        <td class="success">{% blocktrans %}Gloss is locked{% endblocktrans %}</td>
        <td class="warning">{% blocktrans %}Gloss has a video{% endblocktrans %}</td>
        <td class="danger">{% blocktrans %}Gloss does not have a video{% endblocktrans %}</td>
        </tr>
    </table>
</div>





{% endif %}

{% endblock content %}
