{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagmanager.css">
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.checkbox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

<script type="text/javascript">
    // These variables are used in gloss_edit.js
    var enable_edit_button_text = "{% blocktrans %}Enable Edit{% endblocktrans %}"
    var disable_edit_button_text = "{% blocktrans %}Disable Edit{% endblocktrans %}"
    var save_button_text = "{% blocktrans %}Save{% endblocktrans %}"
    var cancel_button_text = "{% blocktrans %}Cancel{% endblocktrans %}"

    // This script gets and inserts the users last searched items on the gloss page
    var search_results_url = '{% url 'dictionary:ajax_search_results' %}';
    var req = $.ajax({
        url: search_results_url,
        dataType: "json",
        context: document.body
    })
    req.done(function(json_data) {
        for (var key in json_data) {
            if (json_data.hasOwnProperty(key)) {
                var a = document.createElement("a");
                a.setAttribute("class", "btn btn-default");
                a.style["float"] = "none";
                a.href = "/dictionary/gloss/" + json_data[key].id + "/";
                var linktext = document.createTextNode(json_data[key].gloss);
                a.appendChild(linktext);
                $( "#results-inline" ).append(a);
            }
        }
    });

</script>

{% if perms.dictionary.change_gloss %}

<script type='text/javascript'>
    
     var edit_post_url = '{% url 'dictionary:update_gloss' gloss.id %}';
     var definition_role_choices = {{gloss.definition_role_choices_json|safe}};
     var handshape_choices = {{gloss.handshape_choices_json|safe}};
     var location_choices = {{gloss.location_choices_json|safe}};
     var palm_orientation_choices = {{gloss.palm_orientation_choices_json|safe}};
     var relative_orientation_choices = {{gloss.relative_orientation_choices_json|safe}};
     var secondary_location_choices = {{gloss.secondary_location_choices_json|safe}};
     var relation_role_choices = {{gloss.relation_role_choices_json|safe}};
     var languages = {{gloss.language_choices|safe}};
     var dialects = {{gloss.dialect_choices|safe}};
    
     var choice_lists = {{gloss.get_choice_lists|safe}};
    
    var csrf_token = '{{csrf_token}}';

</script>
<script type='text/javascript' src="{{ STATIC_URL }}js/gloss_edit.js"></script>


{% endif %}
{% endblock %}


{% block content %}

<div id="searchresults" style="overflow-y:hidden;">
    {% if request.session.search_results %}{# See if search_results in sessions is empty #}
    <strong>{% blocktrans %}Search results:{% endblocktrans %}</strong>
    <div id="results-inline" class="btn-group" role="group" aria-label="search results" style="white-space:nowrap;">
    </div>
    {% endif %}
</div>

<div id="signinfo" class='navbar navbar-default navbar-collapse'>
    {% if gloss.idgloss %}
    {# Translators: Public view (mode?) #}
    <a class='btn btn-default navbar-btn' href="{% url 'root_page' %}dictionary/gloss/{{gloss.idgloss}}.html">
        {% blocktrans %}Public View{% endblocktrans %}</a>
    {% endif %}

    {% if perms.dictionary.change_gloss %}
    <div class='pull-right'>
        {% if not gloss.locked %}
        {# Translators: Text that appears when editing is on #}
        <span id='edit_message'
              style="display:none">{% blocktrans %}Click on red text to edit{% endblocktrans %}&nbsp;</span>
        {# Translators: Button #}
        <button id='delete_gloss_btn' class='btn btn-default navbar-btn btn-xs' data-toggle='modal'
                data-target='#delete_gloss_modal'>{% blocktrans %}Delete Sign{% endblocktrans %}
        </button>
        {# Translators: Button #}
        <button id='enable_edit' class='btn btn-default navbar-btn'>{% blocktrans %}Enable Edit{% endblocktrans %}</button>

        <div class="modal fade" id="delete_gloss_modal" tabindex="-1" role="dialog" aria-labelledby="#modalTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class='modal-header'>
                        {# Translators: Header2 #}
                        <h2 id='modalTitle'>{% blocktrans %}Delete This Sign{% endblocktrans %}</h2>
                    </div>
                    <div class='modal-body'>
                        {# Translators: Text in Gloss #}
                        <p>{% blocktrans trimmed %}This action will delete this sign and all
                            associated records. It cannot be undone.{% endblocktrans %}</p>
                    </div>
                    <form action='{% url 'dictionary:update_gloss' gloss.id %}' method='post'>
                        {% csrf_token %}
                        <input type='hidden' name='id' value='deletegloss'>
                        <input type='hidden' name='value' value='confirmed'>

                        <div class="modal-footer">
                            {# Translators: Button #}
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% blocktrans %}Cancel{% endblocktrans %}
                            </button>
                            {# Translators: Confirmation button #}
                            <input type="submit" class="btn btn-primary"
                                   value='{% blocktrans %}Confirm Delete{% endblocktrans %}'>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>

<div id="definitionblock">
    <div id="leftblock">
        <div id="videocontainer">
            {% if gloss.get_video %}
            <!-- {{ gloss.get_video }} -->
            <div id="playergloss">
                <video id="glossvid{{gloss.id}}" width="450" preload="auto" controls autoplay muted>
                    {# Had to put that t-value in the url to get around browser/server caching the videos issue #}
                    <source src="{{ STATIC_URL }}{{gloss.get_video}}?id={{gloss.get_video_id}}" type="video/mp4">
                    {% blocktrans %}Your browser does not support the video tag.{% endblocktrans %}
                </video>
            </div>
            <div id="replay"></div>
            {% else %}
            <div id="player">
                {% if LANGUAGE_CODE == 'fi' %}
                <img id='novideo' src='{{ STATIC_URL }}images/no-video-fi.png'>
                {% else %}
                <img id='novideo' src='{{ STATIC_URL }}images/no-video.png'>
                {% endif %}
                <!-- {{ gloss.get_video }} -->
            </div>

            {% endif %}
        </div>

        <div id="feedback">
            <ul>
                {% ifequal viewname "words" %}
                {# Translators: #}
                <li>
                    <a href="{% url 'root_page' %}feedback/sign/{{translation.translation}}-{{n}}.html?return=/dictionary/words/{{translation.translation}}-{{n}}.html">
                        {% blocktrans %}Provide feedback about this sign{% endblocktrans %}</a></li>
                {% else %}
                {# Translators: #}
                <li>
                    <a href="{% url 'root_page' %}feedback/gloss/{{gloss.idgloss}}.html?return=/dictionary/gloss/{{gloss.idgloss}}.html&lastmatch={{lastmatch}}">
                        {% blocktrans %}Provide feedback about this sign{% endblocktrans %}</a></li>
                {% endifequal %}

                {# Translators: #}
                <li><a href="{% url 'root_page' %}feedback/missingsign.html">{% blocktrans %}Report a missing sign{% endblocktrans %}</a></li>
                {# Translators: #}
                <li><a href="{% url 'root_page' %}feedback/generalfeedback.html">{% blocktrans %}Provide general site feedback{% endblocktrans %}</a></li>
            </ul>
        </div>


        {% if perms.dictionary.change_gloss and perms.dictionary.update_video %}
        <div class='editform'>
            <div class="uploadvid">
                <fieldset>
                    {# Translators: Upload/Add new video to Signbank #}
                    <legend>{% blocktrans %}Upload New Video{% endblocktrans %}</legend>

                    <form action="/video/upload/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type='hidden' name='redirect' value='{{request.path}}?edit'>

                        {{videoform.videofile}}

                        <input type='hidden' name='gloss_id' value='{{gloss.pk}}'>
                        {# Translators: Submit button #}
                        <input class='btn btn-primary' type='submit'
                               value='{% blocktrans %}Upload Video{% endblocktrans %}' style="margin-top:5px"/>

                    </form>
                </fieldset>
            </div>

            {% if perms.dictionary.update_video and gloss.count_videos > 0 %}
            <div class="uploadvid">
                <fieldset>
                    {# Translators: #}
                    <legend>{% blocktrans %}Delete/Revert Video{% endblocktrans %}</legend>
                    <form action="/video/delete/{{gloss.pk}}" method='post'>
                        {# Translators: #}
                        <em>{% blocktrans %}This will delete the most recent upload and restore the most recent earlier
                            version.{% endblocktrans %}</em>
                        {# Translators: #}
                        <p>{% blocktrans %}We have {% endblocktrans %}{{gloss.count_videos}} {% blocktrans %}videos for
                            this sign.{% endblocktrans %}</p>
                        {# Translators: Submit button #}
                        {% csrf_token %}<input class='btn btn-danger' id='delete_video' type='submit'
                                               value='{% blocktrans %}Delete/Revert this video{% endblocktrans %}'>
                    </form>
                </fieldset>
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% include "dictionary/glosstags.html" %}

    </div>
    <div class='panel-group' id="definition">

        <table class='table table-condensed'>
            {# Translators: Information about a Gloss #}
            <tr>
                <th>{% blocktrans %}Gloss:{% endblocktrans %}</th>
                <td class='edit edit_text' id='idgloss'>{% value gloss.idgloss %}</td>
            </tr>
            {# Translators: Information about a Gloss #}
            <tr>
                <th>{% blocktrans %}Gloss in English:{% endblocktrans %}</th>
                <td class='edit edit_text' id='idgloss_en'>{% value gloss.idgloss_en %}</td>
            </tr>
            {# Translators: Information about a Gloss #}
            <tr>
                <th>{% blocktrans %}Translation equivalents in Finnish:{% endblocktrans %}</th>
                <td class='edit edit_text' id='keywords'>{% for trn in gloss.translation_set.all %}{{ trn.translation.text|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
            </tr>
            {# Translators: Information about a Gloss #}
            <tr>
                <th>{% blocktrans %}Translation equivalents in English:{% endblocktrans %}</th>
                <td class='edit edit_text' id='keywords_english'>{% for trn in gloss.translationenglish_set.all %}{{ trn.translation_english.text|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
            </tr>
            {# Translators: Information about a Gloss #}
            <tr>
                <th>{% blocktrans %}Comments:{% endblocktrans %}</th>
                <td class='edit edit_text' id='annotation_comments'>{% value gloss.annotation_comments %}</td>
            </tr>
            {# Translators: Information about a Gloss #}
            <tr>
                <th>{% blocktrans %}Language:{% endblocktrans %}</th>
                <td class='edit edit_language' id='language'>{% for lang in gloss.language.all %}{{lang.name}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
            </tr>
            {# Translators: Information about a Gloss #}
            <tr>
                <th>{% blocktrans %}Dialect:{% endblocktrans %}</th>
                <td class='edit edit_dialect' id='dialect'>{% for dia in gloss.dialect.all %}{{dia.name}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
            </tr>
            <tr>
                <th>{% blocktrans %}URL:{% endblocktrans %}</th>
                <td class='edit edit_url' id='url_field'>{% if gloss.url_field %}<a id='urlout'
                                                                                    href="{{ gloss.url_field }}"
                                                                                    target="_blank">{{ gloss.url_field }}</a>{% endif %}
                </td>
            </tr>
            <tr>
                <th>{% blocktrans %}Created:{% endblocktrans %}</th>
                <td id='created'>{% if gloss.created_at %}<span class="glyphicon glyphicon-time" aria-hidden="true"></span> <em>{{ gloss.created_at|date:'Y-m-d H:i' }}</em> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ gloss.created_by.first_name }} {{ gloss.created_by.last_name }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% blocktrans %}Updated:{% endblocktrans %}</th>
                <td id='updated'>{% if gloss.updated_at %}<span class="glyphicon glyphicon-time" aria-hidden="true"></span> <em>{{ gloss.updated_at|date:'Y-m-d H:i' }}</em> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ gloss.updated_by.first_name }} {{ gloss.updated_by.last_name }}{% endif %}</td>
            </tr>
        </table>

        {% if perms.dictionary.view_advanced_properties %}
        <div class="panel panel-default">
            <div class='panel-heading'>
                <div class='panel-title'>
                    {# Translators: #}
                    <a data-toggle='collapse' data-parent='#morphologydefinition' href='#morphology'>
                        {% blocktrans %}Morphology{% endblocktrans %}</a>
                </div>
            </div>
            <div id='morphology' class='collapse'>

                <table class='table table-condensed'>
                    <tr>
                        <th style='width:2em'></th>
                        {# Translators: #}
                        <th style='width:12em'>{% blocktrans %}Type{% endblocktrans %}</th>
                        {# Translators: #}
                        <th style='width:12em'>{% blocktrans %}Morpheme{% endblocktrans %}</th>
                    </tr>

                    {% for morphdef in gloss.parent_glosses.all %}


                    <tr>
                        <td>
                            <span class='glyphicon glyphicon-trash morphology-definition-delete' data-toggle='modal'
                                  data-target='#delete_morphology-definition_modal_{{morphdef.id}}'></span>

                            <div class="modal fade" id="delete_morphology-definition_modal_{{morphdef.id}}"
                                 role="dialog" aria-labelledby="#modalTitle" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class='modal-header'>
                                            {# Translators: Header2 #}
                                            <h2 id='modalTitle'>{% blocktrans %}Delete This Morphology{% endblocktrans %}</h2>
                                        </div>
                                        <div class='modal-body'>
                                            {# Translators: Question #}
                                            <p>{% blocktrans %}Are you sure you want to delete this? This cannot be
                                                undone.{% endblocktrans %}</p>
                                        </div>
                                        <form action='{% url "dictionary:update_gloss" gloss.id %}' method='post'>
                                            {% csrf_token %}
                                            <input type='hidden' name='id'
                                                   value='morphology-definition-delete_{{morphdef.id}}'>
                                            <input type='hidden' name='value' value='confirmed'>

                                            <div class="modal-footer">
                                                {# Translators: Button #}
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    {% blocktrans %}Cancel{% endblocktrans %}
                                                </button>
                                                {# Translators: Submit button #}
                                                <input type="submit" class="btn btn-primary"
                                                       value='{% blocktrans %}Confirm Delete{% endblocktrans %}'>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>

                        </td>


                        <td class='edit edit_morphology_role' id='morphology-definition-role_{{morphdef.id}}'>
                            {{morphdef.role}}
                        </td>
                        <td class='edit edit_morpheme' id='morphology-definition-morpheme_{{morphdef.id}}'>
                            {{morphdef.morpheme}}
                        </td>
                        <td>(<a href='{% url "dictionary:admin_gloss_view" pk=morphdef.morpheme.pk %}'>view</a>)</td>
                    </tr>
                    {% endfor %}
                </table>

                {% if perms.dictionary.change_gloss %}
                <form id='add_morphologydefinition_form' method='post' action='{% url 'dictionary:add_morphologydefinition' %}'>
                {% csrf_token %}
                <input type='hidden' name='parent_gloss_id' value='{{gloss.pk}}'>
                <table class='table table-condensed'>
                    <tr>
                        <td style="width:2em;"></td>
                        <td style="width:12em;">{{morphologyform.role}}</td>
                        {# Translators: Placeholder #}
                        <td><input class='form-control glosstypeahead'
                                   placeholder='{% blocktrans %}ID Gloss/Annotation ID Gloss{% endblocktrans %}'
                                   name='morpheme_id'></td>
                        {# Translators: Submit button #}
                        <td><input class='btn btn-primary'
                                   value='{% blocktrans %}Add Morphology Definition{% endblocktrans %}' type='submit'>
                        </td>
                    </tr>
                </table>
                </form>
                {% endif %}
            </div>

        </div>


        <div class="panel panel-default">
            <div class='panel-heading'>
                <div class='panel-title'>
                    {# Translators: #}
                    <a data-toggle='collapse' data-parent='#definition' href='#phonology'>
                        {% blocktrans %}Phonology{% endblocktrans %}</a>
                </div>
            </div>
            <div id='phonology' class='panel-collapse collapse'>
                <table class='table table-condensed'>
                    {% for value,name,label,kind in phonology_fields %}
                    <tr>
                        <th>{{label}}</th>
                        <td class="edit edit_{{kind}}" id='{{name}}'>
                            {% if kind == "check" and value %}Yes{% elif kind == "check" %}No{% else %}{% value value %}{% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class='panel-heading'>
                <div class='panel-title'>
                    {# Translators: #}
                    <a data-toggle='collapse' data-parent='#definition' href='#semantics'>
                        {% blocktrans %}Semantics{% endblocktrans %}</a>
                </div>
            </div>
            <div id='semantics' class='panel-collapse collapse'>
                <table class='table table-condensed'>
                    {% for value,name,label,kind in semantics_fields %}
                    <tr>
                        <th>{{label}}</th>
                        <td class="edit edit_{{kind}}" id='{{name}}'>{% value value %}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class='panel-heading'>
                <div class='panel-title'>
                    {# Translators: #}
                    <a data-toggle='collapse' data-parent='#definition' href='#relations'>
                        {% blocktrans %}Relations to Other Signs{% endblocktrans %}</a>
                </div>
            </div>
            <div id='relations' class='collapse'>
                <table class='table table-condensed'>
                    {% for rel in gloss.relation_sources.all %}
                    <tr>
                        <td>
                            <span class='glyphicon glyphicon-trash relation_delete' data-toggle='modal'
                                  data-target='#delete_relation_modal_{{rel.id}}'></span>

                            <div class="modal fade" id="delete_relation_modal_{{rel.id}}" role="dialog"
                                 aria-labelledby="#modalTitle" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class='modal-header'>
                                            {# Translators: Header2 #}
                                            <h2 id='modalTitle'>
                                                {% blocktrans %}Delete This Relation{% endblocktrans %}</h2>
                                        </div>
                                        <div class='modal-body'>
                                            {# Translators: #}
                                            <p>{% blocktrans trimmed %}This action will delete the <strong>{{rel.get_role_display}}</strong>
                                                relation between {{rel.source}} and {{rel.target}}. It cannot be
                                                undone.{% endblocktrans %}</p>
                                        </div>
                                        <form action='{% url "dictionary:update_gloss" gloss.id %}' method='post'>
                                            {% csrf_token %}
                                            <input type='hidden' name='id' value='relationdelete_{{rel.id}}'>
                                            <input type='hidden' name='value' value='confirmed'>

                                            <div class="modal-footer">
                                                {# Translators: Button #}
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    {% blocktrans %}Cancel{% endblocktrans %}
                                                </button>
                                                {# Translators: Submit button #}
                                                <input type="submit" class="btn btn-primary"
                                                       value='{% blocktrans %}Confirm Delete{% endblocktrans %}'>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>

                        </td>


                        <td class='edit edit_relation_role' id='relationrole_{{rel.id}}'>{{rel.role}}</td>
                        <td class='edit edit_relation_target' id='relationtarget_{{rel.id}}'>{{rel.target}}</td>
                        <td>(<a href='{% url "dictionary:admin_gloss_view" pk=rel.target.pk %}'>view</a>)</td>
                    </tr>
                    {% endfor %}
                </table>

                {% if perms.dictionary.change_gloss %}
                <form id='add_relation_form' method='post' action='{% url 'dictionary:add_relation' %}'>
                {% csrf_token %}
                <input type='hidden' name='sourceid' value='{{gloss.pk}}'>
                <table class='table table-condensed'>
                    <tr>
                        <td>{{relationform.role}}</td>
                        {# Translators: #}
                        <td><input class='form-control glosstypeahead'
                                   placeholder='{% blocktrans %}ID Gloss/Annotation ID Gloss{% endblocktrans %}'
                                   name='targetid'></td>
                        {# Translators: Submit button #}
                        <td><input class='btn btn-primary' value='{% blocktrans %}Add Relation{% endblocktrans %}'
                                   type='submit'></td>
                    </tr>
                </table>
                </form>
                {% endif %}
            </div>
        </div>

        <div class="panel panel-default">
            <div class='panel-heading'>
                <div class='panel-title'>
                    {# Translators: #}
                    <a data-toggle='collapse' data-parent='#definition' href='#relationsforeign'>
                        {% blocktrans %}Relations to Foreign Signs{% endblocktrans %}</a>
                </div>
            </div>
            <div id='relationsforeign' class='collapse'>
                <table class='table table-condensed'>
                    <tr>
                        <th style='width:1em'></th>
                        {# Translators: Loan from another language(?) #}
                        <th style='width:3em'>{% blocktrans %}Loan{% endblocktrans %}</th>
                        {# Translators: #}
                        <th style='width:6em'>{% blocktrans %}Related Language{% endblocktrans %}</th>
                        {# Translators: Equivalent Gloss in related language #}
                        <th style='width:10em'>{% blocktrans %}Gloss in related language{% endblocktrans %}</th>
                    </tr>

                    {% for rel in gloss.relationtoforeignsign_set.all %}
                    <tr>
                        <td>
                            <span class='glyphicon glyphicon-trash relation_delete' data-toggle='modal'
                                  data-target='#delete_relation_modal_{{rel.id}}'></span>

                            <div class="modal fade" id="delete_relation_modal_{{rel.id}}" role="dialog"
                                 aria-labelledby="#modalTitle" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class='modal-header'>
                                            {# Translators: Header2 #}
                                            <h2 id='modalTitle'>
                                                {% blocktrans %}Delete This Relation{% endblocktrans %}</h2>
                                        </div>
                                        <div class='modal-body'>
                                            {# Translators: Question #}
                                            <p>{% blocktrans %}Are you sure you want to delete this? This cannot be
                                                undone.{% endblocktrans %}</p>
                                        </div>
                                        <form action='{% url "dictionary:update_gloss" gloss.id %}' method='post'>
                                            {% csrf_token %}
                                            <input type='hidden' name='id' value='relationforeigndelete_{{rel.id}}'>
                                            <input type='hidden' name='value' value='confirmed'>

                                            <div class="modal-footer">
                                                {# Translators: Button #}
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    {% blocktrans %}Cancel{% endblocktrans %}
                                                </button>
                                                {# Translators: Submit button #}
                                                <input type="submit" class="btn btn-primary"
                                                       value='{% blocktrans %}Confirm Delete{% endblocktrans %}'>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>

                        </td>

                        <td class='edit edit_check' id='relationforeign-loan_{{rel.id}}'>{{rel.loan}}</td>
                        <td class='edit edit_text' id='relationforeign-other-lang_{{rel.id}}'>{{rel.other_lang}}</td>
                        <td class='edit edit_text' id='relationforeign-other-lang-gloss_{{rel.id}}'>
                            {{rel.other_lang_gloss}}
                        </td>
                        {% endfor %}
                </table>

                {% if perms.dictionary.change_gloss %}
                <form id='add_relationtoforeignsign_form' method='post' action='{% url 'dictionary:add_relationtoforeignsign' %}'>
                {% csrf_token %}
                <input type='hidden' name='sourceid' value='{{gloss.pk}}'>
                <table class='table table-condensed'>
                    <tr>
                        <td><input class='checkbox' name='loan' type='checkbox'></td>
                        {# Translators: #}
                        <td><input class='form-control'
                                   placeholder='{% blocktrans %}Related language{% endblocktrans %}' name='other_lang'
                                   type='text'></td>
                        {# Translators: #}
                        <td><input class='form-control'
                                   placeholder='{% blocktrans %}Gloss in related language{% endblocktrans %}'
                                   name='other_lang_gloss' type='text'></td>
                        {# Translators: #}
                        <td><input class='btn btn-primary'
                                   value='{% blocktrans %}Add Relation to Foreign Sign{% endblocktrans %}'
                                   type='submit'></td>
                    </tr>
                </table>
                </form>
                {% endif %}
            </div>
        </div>


        <div class="panel panel-default">
            <div class='panel-heading'>
                <div class='panel-title'>
                    {# Translators: #}
                    <a data-toggle='collapse' data-parent='#definition' href='#frequency'>
                        {% blocktrans %}Frequency{% endblocktrans %}</a>
                </div>
            </div>
            <div id='frequency' class='panel-collapse collapse'>
                <table class='table table-condensed'>
                    {% for value,name,label,kind in frequency_fields %}
                    <tr>
                        <th>{{label}}</th>
                        <td class="edit edit_text" id='{{name}}'>{% value value %}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class='panel-heading'>
                <div class='panel-title'>
                    {# Translators: #}
                    <a data-toggle='collapse' data-parent='#definition' href='#pubStatus'>
                        {% blocktrans %}Publication Status{% endblocktrans %}</a>
                </div>
            </div>


            <div id="pubStatus" class="panel-collapse collapse">

                <table class='table table-condensed'>
                    {# Translators: #}
                    <tr>
                        <th>{% blocktrans %}In Web Dictionary{% endblocktrans %}</th>
                        <td {% if perms.dictionary.can_publish %}class='edit edit_check' {% endif %}
                            id='in_web_dictionary'>{% if gloss.in_web_dictionary %}Yes{% else %}No{% endif %}
                        </td>
                    </tr>
                    {# Translators: #}
                    <tr>
                        <th>{% blocktrans %}Proposed New Sign{% endblocktrans %}</th>
                        <td class='edit edit_check' id='is_proposed_new_sign'>{% if gloss.is_proposed_new_sign %}Yes{%
                            else %}No{% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="panel panel-default">
            <div class='panel-heading'>
                <div class='panel-title'>
                    {# Translators: #}
                    <a data-toggle='collapse' data-parent='#definition' href='#definitions'>
                        {% blocktrans %}Notes{% endblocktrans %}</a>
                </div>
            </div>
            <div id='definitions' class='collapse'>

                {% regroup gloss.definition_set.all by role as roles %}

                <table class='table'>
                    <tr>
                        <th style='width:1em'></th>
                        {# Translators: #}
                        <th style='width:3em'>{% blocktrans %}Published{% endblocktrans %}</th>
                        {# Translators: #}
                        <th style='width:3em'>{% blocktrans %}Index{% endblocktrans %}</th>
                        {# Translators: #}
                        <th style='width:10em'>{% blocktrans %}Type{% endblocktrans %}</th>
                        <th>{% blocktrans %}Text{% endblocktrans %}</th>
                    </tr>
                    {% for role in roles %}

                    {% for def in role.list %}
                    <tr>
                        <td>

                            {% if perms.dictionary.change_gloss %}
                            {% if not def.published and perms.dictionary.can_delete_unpublished or def.published and perms.dictionary.can_delete_published %}
                            <span class='glyphicon glyphicon-trash definition_delete' data-toggle='modal'
                                  data-target='#delete_definition_modal_{{def.id}}'></span>

                            <div class="modal fade" id="delete_definition_modal_{{def.id}}" role="dialog"
                                 aria-labelledby="#modalTitle" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class='modal-header'>
                                            {# Translators: Header2 #}
                                            <h2 id='modalTitle'>{% blocktrans %}Delete This Note{% endblocktrans %}</h2>
                                        </div>
                                        <div class='modal-body'>
                                            <p><strong>{{def.get_role_display}}</strong> {{def.text}}</p>
                                            {# Translators: #}
                                            <p>{% blocktrans %}This action will delete this note. It cannot be undone.{% endblocktrans %}</p>
                                        </div>
                                        <form action='{% url "dictionary:update_gloss" gloss.id %}' method='post'>
                                            {% csrf_token %}
                                            <input type='hidden' name='id' value='definitiondelete_{{def.id}}'>
                                            <input type='hidden' name='value' value='confirmed'>

                                            <div class="modal-footer">
                                                {# Translators: Button #}
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    {% blocktrans %}Cancel{% endblocktrans %}
                                                </button>
                                                {# Translators: Submit button #}
                                                <input type="submit" class="btn btn-primary"
                                                       value='{% blocktrans %}Confirm Delete{% endblocktrans %}'>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}
                        </td>
                        <td {% if perms.dictionary.can_publish %}class='edit edit_check' {% endif %}
                            id='definitionpub_{{def.id}}'>{% if def.published %}Yes{% else %}No{% endif %}
                        </td>
                        <td class='edit edit_int' id='definitioncount_{{def.id}}'>{{def.count}}</td>
                        <td class='edit edit_role' id='definitionrole_{{def.id}}'>{{def.get_role_display}}</td>
                        <td class='edit edit_area' id='definition_{{def.id}}'>{{def.text}}</td>
                    </tr>
                    {% endfor %}


                    {% endfor %}
                </table>


                {% if perms.dictionary.change_gloss %}
                <form id='add_definition' action='{% url 'dictionary:add_definition' gloss.id %}' method="POST">
                <fieldset>
                    {% csrf_token %}
                    <table class='table'>
                        <tr>
                            <td style="width:2em"></td>
                            <td style="width:7em"><input class='checkbox' name='published' type='checkbox'></td>
                            <td style='width:5em'><input class='form-control' name='count' type='number'></td>
                            <td style='width:10em'>{{definitionform.role}}</td>
                            {# Translators: Placeholder #}
                            <td><input class='form-control' name='text'
                                       placeholder='{% blocktrans %}Enter new note{% endblocktrans %}'></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {# Translators: Submit button #}
                            <td><input class='btn' type='submit' value='{% blocktrans %}Save New{% endblocktrans %}'>
                            </td>
                        </tr>
                    </table>
                </fieldset>

                </form>
                {% endif %}
                {% endif %}

            </div>

        </div>


    </div>
</div>


{% endblock %}
