{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagmanager.css">
{% endblock %}

{% block extrajs %}
{% if perms.dictionary.change_gloss %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.checkbox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
{% endif %}

<script type="text/javascript">
    // These variables are used in gloss_edit.js
    var enable_edit_button_text = "{% blocktrans %}Enable Edit{% endblocktrans %}"
    var disable_edit_button_text = "{% blocktrans %}Disable Edit{% endblocktrans %}"
    var save_button_text = "{% blocktrans %}Save{% endblocktrans %}"
    var cancel_button_text = "{% blocktrans %}Cancel{% endblocktrans %}"

    // This script gets and inserts the users last searched items on the gloss page
    var search_results_url = '{% url 'dictionary:ajax_search_results' %}';
    var req = $.ajax({
        url: search_results_url,
        dataType: "json",
        context: document.body
    })
    req.done(function(json_data) {
        for (var key in json_data) {
            if (json_data.hasOwnProperty(key)) {
                var a = document.createElement("a");
                a.setAttribute("class", "btn btn-default");
                a.style["float"] = "none";
                a.href = "/dictionary/gloss/" + json_data[key].id + "/";
                a.id = json_data[key].id;
                var linktext = document.createTextNode(json_data[key].gloss);
                a.appendChild(linktext);
                $( "#results-inline" ).append(a);
            }
        }

        /* Determine the active button (if any), center the horizontal list according to the active button */

        // Make sure that we are showing search results
        if ($('#results-inline').length > 0) {
            // Setting a button active according to which glosses page we are on. A.id should equal to gloss.id.
            $('#results-inline #{{ gloss.id }}').addClass('active');

            var scrollPanel = $('#searchresults');
            var activeButton = $('#results-inline a.active');

            // Make sure that activeButton exists
            if (activeButton.length > 0) {
                // Calculating the left offset position so that the button is centered
                var leftOffset = activeButton.offset().left - scrollPanel.offset().left - (scrollPanel.width() / 2) + (activeButton.width() / 2);
                // Scrolling to the active button
                $('#searchresults').scrollLeft(leftOffset);
            }

        }
    });

</script>

{% if perms.dictionary.change_gloss %}

<script type='text/javascript'>
    
     var edit_post_url = '{% url 'dictionary:update_gloss' gloss.id %}';
     var definition_role_choices = {{gloss.definition_role_choices_json|safe}};
     var handshape_choices = {{gloss.handshape_choices_json|safe}};
     var location_choices = {{gloss.location_choices_json|safe}};
     var palm_orientation_choices = {{gloss.palm_orientation_choices_json|safe}};
     var relative_orientation_choices = {{gloss.relative_orientation_choices_json|safe}};
     var secondary_location_choices = {{gloss.secondary_location_choices_json|safe}};
     var relation_role_choices = {{gloss.relation_role_choices_json|safe}};
     var languages = {{gloss.language_choices|safe}};
     var dialects = {{gloss.dialect_choices|safe}};
    
     var choice_lists = {{gloss.get_choice_lists|safe}};
    
    var csrf_token = '{{csrf_token}}';

</script>
<script type='text/javascript' src="{{ STATIC_URL }}js/gloss_edit.js"></script>


{% endif %}
{% endblock %}

{% block content %}

<div id="searchresults" style="overflow-y:hidden;">
    {% if request.session.search_results %}{# See if search_results in sessions is empty #}
    <strong>{% blocktrans %}Search results:{% endblocktrans %}</strong>
    <div id="results-inline" class="btn-group" role="group" aria-label="search results" style="white-space:nowrap;">
    </div>
    {% endif %}
</div>

<div id="signinfo" class='navbar navbar-default navbar-collapse'>
    <div id="datasetname" class="pull-left">
        <h4>{% blocktrans%}Dataset{% endblocktrans %}: <span class="label label-default">{{dataset}}</span></h4>
    </div>
    {% if perms.dictionary.change_gloss %}
    <div class='pull-right'>
        {% if not gloss.locked %}
        {# Translators: Text that appears when editing is on #}
        <span id='edit_message'
              style="display:none">{% blocktrans %}Click on red text to edit{% endblocktrans %}&nbsp;</span>
        {# Translators: Button #}
        <button id='delete_gloss_btn' class='btn btn-default navbar-btn btn-xs' data-toggle='modal'
                data-target='#delete_gloss_modal'>{% blocktrans %}Delete Sign{% endblocktrans %}
        </button>
        {# Translators: Button #}
        <button id='enable_edit' class='btn btn-default navbar-btn'>{% blocktrans %}Enable Edit{% endblocktrans %}</button>

        <div class="modal fade" id="delete_gloss_modal" tabindex="-1" role="dialog" aria-labelledby="#modalTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class='modal-header'>
                        {# Translators: Header2 #}
                        <h2 id='modalTitle'>{% blocktrans %}Delete This Sign{% endblocktrans %}</h2>
                    </div>
                    <div class='modal-body'>
                        {# Translators: Text in Gloss #}
                        <p>{% blocktrans trimmed %}This action will delete this sign and all
                            associated records. It cannot be undone.{% endblocktrans %}</p>
                    </div>
                    <form action='{% url 'dictionary:update_gloss' gloss.id %}' method='post'>
                        {% csrf_token %}
                        <input type='hidden' name='id' value='deletegloss'>
                        <input type='hidden' name='value' value='confirmed'>

                        <div class="modal-footer">
                            {# Translators: Button #}
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% blocktrans %}Cancel{% endblocktrans %}
                            </button>
                            {# Translators: Confirmation button #}
                            <input type="submit" class="btn btn-primary"
                                   value='{% blocktrans %}Confirm Delete{% endblocktrans %}'>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>

<div class="container-fluid">
    <div id="definitionblock" class="row">
        <div id="leftblock" class="col-lg-5 col-md-6 col-sm-12 col-xs-12">

            <div id="videocontainer">
                {% if gloss.get_video %}
                <!-- {{ gloss.get_video }} -->
                <div id="playergloss">
                    <video id="glossvid{{gloss.id}}" width="450" preload="auto" controls autoplay muted>
                        {# Had to put that id-value in the url to get around browser/server caching the videos issue #}
                        <source src="{{ STATIC_URL }}{{gloss.get_video}}?id={{gloss.get_video_id}}" type="video/mp4">
                        {% blocktrans %}Your browser does not support the video tag.{% endblocktrans %}
                    </video>
                </div>
                {% else %}
                <div id="player">
                    {% if LANGUAGE_CODE == 'fi' %}
                    <img id='novideo' src='{{ STATIC_URL }}images/no-video-fi.png'>
                    {% else %}
                    <img id='novideo' src='{{ STATIC_URL }}images/no-video.png'>
                    {% endif %}
                    <!-- {{ gloss.get_video }} -->
                </div>

                {% endif %}
            </div>


        </div>

        <div class='panel-group col-lg-7 col-md-6 col-sm-12 col-xs-12' id='definition'>

            <table class='table table-condensed'>
                {# Translators: Information about a Gloss #}
                <tr {% if gloss.locked %}class="success"{% elif gloss.has_video %}class="warning"{% else %}class="danger"{% endif %}>
                    <th>{% blocktrans %}Gloss:{% endblocktrans %}</th>
                    <td class='edit edit_text' id='idgloss'>{% value gloss.idgloss %}</td>
                </tr>
                {# Translators: Information about a Gloss #}
                <tr>
                    <th>{% blocktrans %}Gloss in English:{% endblocktrans %}</th>
                    <td class='edit edit_text' id='idgloss_en'>{% value gloss.idgloss_en %}</td>
                </tr>
                {# Translators: Information about a Gloss #}
                <tr>
                    <th>{% blocktrans %}Translation equivalents in Finnish:{% endblocktrans %}</th>
                    <td class='edit edit_text' id='keywords'>{% for trn in gloss.translation_set.all %}{{ trn.translation.text|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                </tr>
                {# Translators: Information about a Gloss #}
                <tr>
                    <th>{% blocktrans %}Translation equivalents in English:{% endblocktrans %}</th>
                    <td class='edit edit_text' id='keywords_english'>{% for trn in gloss.translationenglish_set.all %}{{ trn.translation_english.text|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                </tr>
                {# Translators: Information about a Gloss #}
                <tr>
                    <th>{% blocktrans %}Comments:{% endblocktrans %}</th>
                    <td class='edit edit_text' id='annotation_comments'>{% value gloss.annotation_comments %}</td>
                </tr>
                {# Translators: Information about a Gloss #}
                <tr>
                    <th>{% blocktrans %}Language:{% endblocktrans %}</th>
                    <td class='edit edit_language' id='language'>{{dataset.language}}</td>
                </tr>
                {# Translators: Information about a Gloss #}
                <!-- {# Removed Dialect for now, uncomment these lines if you want to show dialect #}
                <tr>
                    <th>{% blocktrans %}Dialect:{% endblocktrans %}</th>
                    <td class='edit edit_dialect' id='dialect'>{% for dia in gloss.dialect.all %}{{dia.name}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                </tr>
                -->
                <tr>
                    <th>{% blocktrans %}URL:{% endblocktrans %}</th>
                    <td class='edit edit_url' id='url_field'>{% if gloss.url_field %}<a id='urlout'
                                                                                        href="{{ gloss.url_field }}"
                                                                                        target="_blank">{{ gloss.url_field }}</a>{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% blocktrans %}Created:{% endblocktrans %}</th>
                    <td id='created'>{% if gloss.created_at %}<span class="glyphicon glyphicon-time" aria-hidden="true"></span> <em>{{ gloss.created_at|date:'Y-m-d H:i' }}</em> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ gloss.created_by.first_name }} {{ gloss.created_by.last_name }}{% endif %}</td>
                </tr>
                <tr>
                    <th>{% blocktrans %}Updated:{% endblocktrans %}</th>
                    <td id='updated'>{% if gloss.updated_at %}<span class="glyphicon glyphicon-time" aria-hidden="true"></span> <em>{{ gloss.updated_at|date:'Y-m-d H:i' }}</em> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ gloss.updated_by.first_name }} {{ gloss.updated_by.last_name }}{% endif %}</td>
                </tr>
            </table>


        </div>

    </div>
    <!-- Advanced properties start -->
    {% include "dictionary/gloss_detail_advanced.html" %}
    <!-- Advanced properties end -->
</div>

{% endblock %}
