{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagmanager.css">
{% endblock %}

{% block extrajs %}
{% if perms.dictionary.change_gloss %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.checkbox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
<script src="{{ STATIC_URL }}js/RecordRTC.min.js"></script>
<script>
// Reload this modal when closed, so that the uploaded videos appear on the page.
$('#record-video-Modal').on('hidden.bs.modal', function (e) {
    location.reload();
})
</script>
{% if not gloss.locked %}
{% include "dictionary/record_video.html" %}
{% endif %}
{% endif %}

<script type="text/javascript">
    // These variables are used in gloss_edit.js
    var enable_edit_button_text = "{% blocktrans %}Enable Edit{% endblocktrans %}"
    var disable_edit_button_text = "{% blocktrans %}Disable Edit{% endblocktrans %}"
    var save_button_text = "{% blocktrans %}Save{% endblocktrans %}"
    var cancel_button_text = "{% blocktrans %}Cancel{% endblocktrans %}"

    // This script gets and inserts the users last searched items on the gloss page
    var search_results_url = '{% url 'dictionary:ajax_search_results' %}';
    var req = $.ajax({
        url: search_results_url,
        dataType: "json",
        context: document.body
    })
    req.done(function(json_data) {
        for (var key in json_data) {
            if (json_data.hasOwnProperty(key)) {
                var a = document.createElement("a");
                a.setAttribute("class", "btn btn-default");
                a.style["float"] = "none";
                a.href = "/dictionary/gloss/" + json_data[key].id + "/";
                a.id = json_data[key].id;
                var linktext = document.createTextNode(json_data[key].gloss);
                a.appendChild(linktext);
                $( "#results-inline" ).append(a);
            }
        }

        /* Determine the active button (if any), center the horizontal list according to the active button */

        // Make sure that we are showing search results
        if ($('#results-inline').length > 0) {
            // Setting a button active according to which glosses page we are on. A.id should equal to gloss.id.
            $('#results-inline #{{ gloss.id }}').addClass('active');

            var scrollPanel = $('#searchresults');
            var activeButton = $('#results-inline a.active');

            // Make sure that activeButton exists
            if (activeButton.length > 0) {
                // Calculating the left offset position so that the button is centered
                var leftOffset = activeButton.offset().left - scrollPanel.offset().left - (scrollPanel.width() / 2) + (activeButton.width() / 2);
                // Scrolling to the active button
                $('#searchresults').scrollLeft(leftOffset);
            }

        }
    });
</script>

{% if perms.dictionary.change_gloss %}
    <script type='text/javascript'>

         var edit_post_url = '{% url 'dictionary:update_gloss' gloss.id %}';
         var definition_role_choices = {{gloss.definition_role_choices_json|safe}};
         var handshape_choices = {{gloss.handshape_choices_json|safe}};
         var location_choices = {{gloss.location_choices_json|safe}};
         var palm_orientation_choices = {{gloss.palm_orientation_choices_json|safe}};
         var relative_orientation_choices = {{gloss.relative_orientation_choices_json|safe}};
         var secondary_location_choices = {{gloss.secondary_location_choices_json|safe}};
         var relation_role_choices = {{gloss.relation_role_choices_json|safe}};
         var languages = {{gloss.language_choices|safe}};
         var dialects = {{gloss.dialect_choices|safe}};

         var choice_lists = {{gloss.get_choice_lists|safe}};

         var csrf_token = '{{csrf_token}}';
    </script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/gloss_edit.js"></script>
{% endif %}
{% endblock %}

{% block content %}
<div id="searchresults" style="overflow-y:hidden;">
    {% if request.session.search_results %}{# See if search_results in sessions is empty #}
    <strong>{% blocktrans %}Search results:{% endblocktrans %}</strong>
    <div id="results-inline" class="btn-group" role="group" aria-label="search results" style="white-space:nowrap;">
    </div>
    {% endif %}
</div>

<div id="signinfo" class='navbar navbar-default navbar-collapse'>
    <div id="datasetname" class="pull-left">
        <h4>{% blocktrans%}Dataset{% endblocktrans %}: <span class="label label-default">{{dataset}}</span></h4>
    </div>
    {% if perms.dictionary.change_gloss %}
        {% if not gloss.locked %}
        <button type="button" class="btn btn-info navbar-btn" id="btn-record-video" data-toggle="modal"
                data-target="#record-video-Modal" style="float:left; margin-left:20px;">
            {% blocktrans %}Record a video{% endblocktrans %}</button>
        {% endif %}
    <div class='pull-right'>
        {% if not gloss.locked %}
        {# Translators: Text that appears when editing is on #}
        <span id='edit_message'
              style="display:none">{% blocktrans %}Click on red text to edit{% endblocktrans %}&nbsp;</span>
        {# Translators: Button #}
        <button id='delete_gloss_btn' class='btn btn-default navbar-btn btn-xs' data-toggle='modal'
                data-target='#delete_gloss_modal'>{% blocktrans %}Delete Sign{% endblocktrans %}
        </button>
        {# Translators: Button #}
        <button id='enable_edit' class='btn btn-default navbar-btn'>{% blocktrans %}Enable Edit{% endblocktrans %}</button>

        <div class="modal fade" id="delete_gloss_modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class='modal-header'>
                        {# Translators: Header2 #}
                        <h2 id='modalTitle'>{% blocktrans %}Delete This Sign{% endblocktrans %}</h2>
                    </div>
                    <div class='modal-body'>
                        {# Translators: Text in Gloss #}
                        <p>{% blocktrans trimmed %}This action will delete this sign and all
                            associated records. It cannot be undone.{% endblocktrans %}</p>
                    </div>
                    <form action='{% url 'dictionary:update_gloss' gloss.id %}' method='post'>
                        {% csrf_token %}
                        <input type='hidden' name='id' value='deletegloss'>
                        <input type='hidden' name='value' value='confirmed'>

                        <div class="modal-footer">
                            {# Translators: Button #}
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% blocktrans %}Cancel{% endblocktrans %}
                            </button>
                            {# Translators: Confirmation button #}
                            <input type="submit" class="btn btn-primary"
                                   value='{% blocktrans %}Confirm Delete{% endblocktrans %}'>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>

<div class="container-fluid">
    <div id="definitionblock" class="row">
        <div id="leftblock" class="col-lg-5 col-md-6 col-sm-12 col-xs-12">

            <div id="videocontainer">

                {% if gloss.has_videos %}
                    {% for glossvideo in gloss.get_gloss_videos %}
                        <div class="player">
                            <div class="video-title">
                                <h4 class="edit edit_text" id="video_title{{glossvideo.pk}}">{{glossvideo.title}}</h4>
                            </div>
                            <video id="glossvideo-{{glossvideo.pk}}" width="450" preload="metadata" controls muted
                                   {% if glossvideo.posterfile %} poster="/static/{{glossvideo.posterfile|urlencode}}"{% endif %}>
                                {% if glossvideo.get_extension == '.mp4' %}
                                <source src="{{glossvideo.videofile.url|urlencode}}" type="video/mp4">
                                {% elif glossvideo.get_extension == '.webm' %}
                                <source src="{{glossvideo.videofile.url|urlencode}}" type="video/webm">
                                {% endif %}
                                {% blocktrans %}Your browser does not support the video tag.{% endblocktrans %}
                            </video>
                            <div class="video-edit" style="display:none;">
                                <div class="video-ordering">
                                    <form action="{% url 'video:change_glossvideo_order' %}" method="post">{% csrf_token %}
                                        <button type="submit" class="btn btn-default" name="direction" value="up">
                                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                        </button>
                                        <button type="submit" class="btn btn-default" name="direction" value="down">
                                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                        </button>
                                        <input type="hidden" name="videoid" value="{{glossvideo.pk}}">
                                    </form>
                                </div>
                                <div class="poster-edit">
                                    <button type="button" class="btn btn-success" id="vidbtn-{{glossvideo.pk}}" onclick="grabScreenshot({{glossvideo.pk}})" data-toggle="modal" data-target="#glossvideo{{glossvideo.pk}}-Modal">{% blocktrans %}Capture new poster image{% endblocktrans %}</button>
                                </div>
                            </div>
                            <hr>
                            <!-- Modal -->
                            <div class="modal fade" id="glossvideo{{glossvideo.pk}}-Modal" tabindex="-1" role="dialog" aria-labelledby="glossvideo{{glossvideo.pk}}-ModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                          <h4 class="modal-title" id="glossvideo{{glossvideo.pk}}-ModalLabel">{% blocktrans %}Update poster image for video{% endblocktrans %} {{glossvideo.videofile}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <canvas id="vidcanvas-{{glossvideo.pk}}" class="img-responsive">Your browser does not support the HTML5 canvas tag.</canvas>
                                        </div>
                                        <div class="modal-footer">
                                            <form enctype="multipart/form-data" action="{% url 'video:add_poster' %}" method="post">
                                                {% csrf_token %}

                                                <input type="hidden" name="pk" value="{{glossvideo.pk}}">
                                                <input type="hidden" name="posterfile" id="posterfile-{{glossvideo.pk}}">
                                                              <button type="button" class="btn btn-default" data-dismiss="modal">{%blocktrans%}Close{%endblocktrans%}</button>
                                                <input class='btn btn-primary' type='submit' value='{% blocktrans %}Save changes{% endblocktrans %}'>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Modal ends -->
                        </div>
                    {% endfor %}

                    <script type="text/javascript">
                    function grabScreenshot(glossvideo_pk) {
                      /* This function grabs a screenshot from a desired frame in a video and adds it into a form field. */
                      var canvas = document.getElementById("vidcanvas-"+glossvideo_pk);
                      var video = document.getElementById("glossvideo-"+glossvideo_pk);
                      canvas.width = video.videoWidth;
                      canvas.height = video.videoHeight;
                      var ctx=canvas.getContext("2d");
                      // Draw the image into the canvas
                      ctx.drawImage(video, 0, 0, video.videoWidth, video.videoHeight);
                      var posterfileinput = document.getElementById("posterfile-"+glossvideo_pk);
                      // Set the captured image data as base64 encoded into the posterfile form field.
                      posterfileinput.value = canvas.toDataURL('image/jpeg');
                    }
                    </script>

                {% else %}
                    <div id="novideo" class="alert alert-danger" role="alert">
                        <p><strong>{% blocktrans %}No videos available for this gloss.{% endblocktrans %}</strong></p>
                    </div>
                {% endif %}

            </div>

            <div>
                <div id="editvideodata" class="panel panel-default">
                    {% if perms.dictionary.change_gloss and perms.dictionary.update_video %}
                    <div class='editform'>
                        <div class="uploadvid">
                            <fieldset>
                                {# Translators: Upload/Add new video to Signbank #}
                                <legend>{% blocktrans %}Upload New Video{% endblocktrans %}</legend>
                                <form action="/video/upload/" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type='hidden' name='redirect' value='{{request.path}}?edit'>
                                        {% bootstrap_field videoform.videofile %}
                                        {% bootstrap_field videoform.video_title %}


                                    <input type='hidden' name='gloss_id' value='{{gloss.pk}}'>
                                    {# Translators: Submit button #}
                                    <input class='btn btn-primary' type='submit'
                                           value='{% blocktrans %}Upload Video{% endblocktrans %}' style="margin-top:5px"/>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                    {% endif %}
                {% include "dictionary/glosstags.html" %}
                </div>
            </div>
        </div>

        <div class='panel-group col-lg-7 col-md-6 col-sm-12 col-xs-12' id='definition'>
            <table class='table table-condensed'>
                {# Translators: Information about a Gloss #}
                <tr {% if gloss.locked %}class="success"{% endif %}>
                    <th>{% blocktrans %}Gloss:{% endblocktrans %}</th>
                    <td class='edit edit_text' id='idgloss'>{% value gloss.idgloss %}</td>
                </tr>
                {# Translators: Information about a Gloss #}
                <tr>
                    <th>{% blocktrans %}Gloss in English:{% endblocktrans %}</th>
                    <td class='edit edit_text' id='idgloss_en'>{% value gloss.idgloss_en %}</td>
                </tr>

                {% for translation_language, translations in translation_languages_and_translations %}
                <tr>
                    <th>{% blocktrans %}Translations in {% endblocktrans %}{{ translation_language.name }}:</th>
                    <td class='edit edit_text' id='keywords_{{ translation_language.language_code_2char }}'>{% for trans in translations %}{{ trans.keyword|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                </tr>
                {% endfor %}

                {# Translators: Information about a Gloss #}
                <tr>
                    <th>{% blocktrans %}Comments:{% endblocktrans %}</th>
                    <td class='edit edit_text' id='annotation_comments'>{% value gloss.annotation_comments %}</td>
                </tr>
                {# Translators: Information about a Gloss #}
                <tr>
                    <th>{% blocktrans %}Sign language:{% endblocktrans %}</th>
                    <td id='signlanguage'>{{dataset.signlanguage}}</td>
                </tr>
                {# Translators: Information about a Gloss #}
                <!-- {# Removed Dialect for now, uncomment these lines if you want to show dialect #}
                <tr>
                    <th>{% blocktrans %}Dialect:{% endblocktrans %}</th>
                    <td class='edit edit_dialect' id='dialect'>{% for dia in gloss.dialect.all %}{{dia.name}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                </tr>
                -->
                <tr>
                    <th>{% blocktrans %}URL:{% endblocktrans %}</th>
                    <td class='edit edit_url' id='url_field'>
                        {% if gloss.url_field %}
                        <a id='urlout' href="{{ gloss.url_field }}" target="_blank">{{ gloss.url_field }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% blocktrans %}Created:{% endblocktrans %}</th>
                    <td id='created'>{% if gloss.created_at %}<span class="glyphicon glyphicon-time" aria-hidden="true"></span> <em>{{ gloss.created_at|date:'Y-m-d H:i' }}</em> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ gloss.created_by.first_name }} {{ gloss.created_by.last_name }}{% endif %}</td>
                </tr>
                <tr>
                    <th>{% blocktrans %}Updated:{% endblocktrans %}</th>
                    <td id='updated'>{% if gloss.updated_at %}<span class="glyphicon glyphicon-time" aria-hidden="true"></span> <em>{{ gloss.updated_at|date:'Y-m-d H:i' }}</em> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ gloss.updated_by.first_name }} {{ gloss.updated_by.last_name }}{% endif %}</td>
                </tr>
            </table>

            <!-- Advanced properties start -->
            {% include "dictionary/gloss_detail_advanced.html" %}
            <!-- Advanced properties end -->
        </div>

    </div>

</div>

{% endblock %}
