{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% load comments %}

{# Tabs nav bar #}
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#revision_history_history_tab" role="tab" data-toggle="tab">Changes</a></li>
    <li><a href="#revision_history_comments_tab" role="tab" data-toggle="tab">Comments</a></li>
</ul>

{# Tabs wrapper #}
<div class="tab-content">

    {# Tab: Revision History #}
    <div class="tab-pane active" id="revision_history_history_tab">
        <table class='table table-condensed'>
            <tr>
                <th>{% blocktrans %}Created:{% endblocktrans %}</th>
                <td id='created'>{% if gloss.created_at %}<span class="glyphicon glyphicon-time" aria-hidden="true"></span> <em>{{ gloss.created_at|date:'Y-m-d H:i' }}</em> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ gloss.created_by.username }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% blocktrans %}Updated:{% endblocktrans %}</th>
                <td id='updated'>{% if gloss.updated_at %}
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <em>{{ gloss.updated_at|date:'Y-m-d H:i' }}</em> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ gloss.updated_by.username }}
                    {% if request.user.is_staff %}

                    <hr style="border-top-color:#C0C0C0;margin-bottom:10px;">

                    <div>
                    <h4>{% blocktrans %}Change history for{% endblocktrans %} <strong>{{gloss}}</strong></h4>
                    </div>
                    <div>
                    <table class='table table-condensed'>
                        <tr>
                            <th>{% blocktrans %}User{% endblocktrans %}</th>
                            <th>{% blocktrans %}Time{% endblocktrans %}</th>
                            <th>{% blocktrans %}Field{% endblocktrans %}</th>
                            <th>{% blocktrans %}Old value{% endblocktrans %}</th>
                            <th>{% blocktrans %}New value{% endblocktrans %}</th>
                        </tr>
                        {% for revision_username,revision_time,revision_field_verbosename,revision_old,revision_new in revisions %}
                        <tr>
                            {# User #}
                            <td>
                                {{ revision_username }}
                            </td>
                            {# Time - format: June 22, 2022, 4:06 p.m. #}
                            <td>
                                {{ revision_time|date:'F j, Y, g:i a' }}
                            </td>
                            {# Field (verbose name) #}
                            <td>
                                {{ revision_field_verbosename }}
                            </td>
                            {# Old value #}
                            <td>
                                {{ revision_old }}
                            </td>
                            {# New value #}
                            <td>
                                {{ revision_new }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    </div>
                    {% endif %} {# if request.user.is_staff #}
                    {% endif %} {# if gloss.updated_at #}
                </td>
            </tr>
        </table>
    </div> {# Tab: Revision History #}

    {# Tab: Comments #}
    <div class="tab-pane" id="revision_history_comments_tab">
        {% get_comment_count for gloss as comment_count %}
        <div id="gloss-comments">
            <h4>{% blocktrans %}Comments{% endblocktrans %} ({{comment_count}})</h4>
            <div class="well well-md">
            {% render_comment_list for gloss %}
            </div>
        </div>
    </div> {# Tab: Comments #}

</div> {# Tabs wrapper #}
