{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}
{% if perms.dictionary.import_csv %}
    {% if glosses_new %}
    <h3>{% blocktrans %}Glosses to be added to{% endblocktrans %} <span class="label label-default">{{dataset}}</span></h3>
    <table class="table">
        <th>Gloss</th>
        <th>Gloss in English</th>
    {% for idgloss, idgloss_en in glosses_new %}
        <tr>
            <td>{{idgloss}}</td>
            <td>{{idgloss_en}}</td>
        </tr>
    {% endfor %}
    </table>
    {% endif%}

    {% if glosses_exists %}
    <h3>{% blocktrans %}Glosses that will not be added because they already exist in{% endblocktrans %} <span class="label label-default">{{dataset}}</span></h3>
    <ul>
    {% for gloss in glosses_exists %}
        <li>{{gloss}}</li>
    {% endfor %}
    </ul>
        {% if not glosses_new %}
            <h3>{% blocktrans %}No glosses can be added!{% endblocktrans %}</h3>
            <p><a href="{% url "dictionary:import_gloss_csv" %}">{% blocktrans %}Return to the form{% endblocktrans %}
                </a></p>
        {% endif %}
    {% endif %}

    {% if glosses_new %}
    <form action='{% url "dictionary:confirm_import_gloss_csv" %}' method='post'>
                {% csrf_token %}
                <input class='btn btn-primary' name='confirm' type='submit' value='{% blocktrans %}Confirm{% endblocktrans %}'>
                <input class='btn btn-primary' name='cancel' type='submit' value='{% blocktrans %}Cancel{% endblocktrans %}'>
    </form>
    {% endif %}

    {% if glosses_added %}
        <h3>{% blocktrans %}The following glosses were added to{% endblocktrans %} <span class="label label-default">{{dataset}}</span></h3>
        <table class="table">
        <th>Gloss</th>
        <th>Gloss in English</th>
        {% for idgloss, idgloss_en in glosses_added %}
            <tr>
                <td>{{idgloss}}</td>
                <td>{{idgloss_en}}</td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="{% url "dictionary:import_gloss_csv" %}">{% blocktrans %}Return to the form{% endblocktrans %}
                </a></p>
    {% endif %}
{% endif %}
{% endblock %}