{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}
{% block bootstrap3_title %}{% blocktrans %}Import CSV{% endblocktrans %} | {% endblock %}

{% block content %}

{% if stage == 0 %}
    {# Translators: Submit button #}
    <div>{% blocktrans %}Upload your changed CSV here:{% endblocktrans %}</div>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        {# Translators: Submit button #}
        <input type="submit" value="{% blocktrans %}Submit{% endblocktrans %}" />
    </form>

{% elif stage == 1 %}

    <form action="" method="post">
        {% csrf_token %}
        {# Translators: Submit button #}
        <div>{% blocktrans %}The following changes were detected:{% endblocktrans %}</div>
        <ul>
        {% for change in changes %}

            {# Translators: Submit button #}
            <li>{% blocktrans %}For {{ change.idgloss }}, <em>{{ change.human_key }}</em> changes from {{ change.original_human_value }} ({{ change.original_machine_value }}) to {{change.new_human_value}} ({{ change.new_machine_value }}).{% endblocktrans %}</li>
            <input type="hidden" name="{{change.pk}}.{{ change.machine_key }}"  value="{{ change.new_machine_value }}">
        {% endfor %}

        </ul>
        {# Translators: Submit button #}
        <input type="submit" value="{% blocktrans %}Make changes{% endblocktrans %}" />
    </form>

{% elif stage == 2 %}

    {# Translators: Submit button #}
    <p>{% blocktrans %}Changes are live.{% endblocktrans %} {{ info }}</p>

{% endif %}

{% endblock %}