{% load i18n %}

<div id="upload_recorded_vid">
  <!--
  <button type="button" class="btn btn-info navbar-btn" id="btn-record-video" data-toggle="modal" data-target="#record-video-Modal">{% blocktrans %}Record a video{% endblocktrans %}</button>
  -->
  <!-- Modal -->
<div class="modal fade" id="record-video-Modal" tabindex="-1" role="dialog" aria-labelledby="record-video-ModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="record-video-ModalLabel">{% blocktrans %}Record a video for{% endblocktrans %}
                <span class="label label-default">{{gloss.dataset}}</span> {{gloss.idgloss}}</h4>
            </div>
            <div class="modal-body">

              <section class="recordrtc">
                  <h2 class="header" style="text-align: center;">
                      <button id="btn-start-recording" class="btn">{%blocktrans%}Start Recording{%endblocktrans%}</button>
                  </h2>

                  <div style="text-align: center; display: none;">
                      <button id="upload-to-server" class="btn btn-primary">{%blocktrans%}Upload{%endblocktrans%}</button>
                  </div>

                  <div class="embed-responsive embed-responsive-16by9" style="margin-top: 10px;">
                      <video class="rtcvideo" controls muted></video>
                  </div>
              </section>

            </div>
            <div class="modal-footer" style="text-align:center;">
                <button type="button" class="btn btn-default" data-dismiss="modal" onClick="window.location.reload()">{%blocktrans%}Close{%endblocktrans%}</button>
            </div>
        </div>
    </div>
</div>

<!--Modal ends -->

<script>
    (function() {
        var params = {},
            r = /([^&=]+)=?([^&]*)/g;

        function d(s) {
            return decodeURIComponent(s.replace(/\+/g, ' '));
        }

        var match, search = window.location.search;
        while (match = r.exec(search.substring(1))) {
            params[d(match[1])] = d(match[2]);

            if(d(match[2]) === 'true' || d(match[2]) === 'false') {
                params[d(match[1])] = d(match[2]) === 'true' ? true : false;
            }
        }

        window.params = params;
    })();

    function addStreamStopListener(stream, callback) {
        var streamEndedEvent = 'ended';

        if ('oninactive' in stream) {
            streamEndedEvent = 'inactive';
        }

        stream.addEventListener(streamEndedEvent, function() {
            callback();
            callback = function() {};
        }, false);

        stream.getVideoTracks().forEach(function(track) {
            track.addEventListener(streamEndedEvent, function() {
                callback();
                callback = function() {};
            }, false);
        });
    }
</script>

<script>
    var recordingDIV = document.querySelector('.recordrtc');
    var recordingMedia = 'record-video';
    var recordingPlayer = recordingDIV.querySelector('video.rtcvideo');
    var mimeType = 'video/webm';
    var fileExtension = 'webm';
    var type = 'video';
    var defaultWidth;
    var defaultHeight;

    var btnStartRecording = document.querySelector('#btn-start-recording');

    //recordingPlayer.style.display = 'none';

    window.onbeforeunload = function() {
        btnStartRecording.disabled = false;
    };

    btnStartRecording.onclick = function(event) {
        var button = btnStartRecording;

        if(button.innerHTML === '{%blocktrans%}Stop Recording{%endblocktrans%}') {
            button.disabled = true;
            button.disableStateWaiting = true;
            setTimeout(function() {
                button.disabled = false;
                button.disableStateWaiting = false;
            }, 2000);

            button.innerHTML = '{%blocktrans%}Start Recording{%endblocktrans%}';

            function stopStream() {
                if(button.stream && button.stream.getVideoTracks()[0].stop) {
                    button.stream.getVideoTracks()[0].stop();
                    button.stream = null;
                }

                if(button.stream instanceof Array) {
                    button.stream.forEach(function(stream) {
                        stream.getVideoTracks()[0].stop();
                    });
                    button.stream = null;
                }

                videoBitsPerSecond = null;
            }

            if(button.recordRTC) {
                if(button.recordRTC.length) {
                    button.recordRTC[0].stopRecording(function(url) {
                        if(!button.recordRTC[1]) {
                            button.recordingEndedCallback(url);
                            stopStream();

                            saveToDiskOrOpenNewTab(button.recordRTC[0]);
                            return;
                        }

                        button.recordRTC[1].stopRecording(function(url) {
                            button.recordingEndedCallback(url);
                            stopStream();
                        });
                    });
                }
                else {
                    button.recordRTC.stopRecording(function(url) {
                        button.recordingEndedCallback(url);
                        stopStream();

                        saveToDiskOrOpenNewTab(button.recordRTC);
                    });
                }
            }

            return;
        }

        if(!event) return;

        button.disabled = true;

        var commonConfig = {
            onMediaCaptured: function(stream) {
                button.stream = stream;
                if(button.mediaCapturedCallback) {
                    button.mediaCapturedCallback();
                }

                button.innerHTML = '{%blocktrans%}Stop Recording{%endblocktrans%}';
                button.disabled = false;
            },
            onMediaStopped: function() {
                button.innerHTML = '{%blocktrans%}Start Recording{%endblocktrans%}';

                if(!button.disableStateWaiting) {
                    button.disabled = false;
                }
            },
            onMediaCapturingFailed: function(error) {
                commonConfig.onMediaStopped();
            }
        };

        // Record only camera, no audio
        if(recordingMedia === 'record-video') {
            captureVideo(commonConfig);

            button.mediaCapturedCallback = function() {
                if(typeof MediaRecorder === 'undefined') { // opera or chrome etc.
                    button.recordRTC = [];

                    if(!params.bufferSize) {
                        // it fixes audio issues whilst recording 720p
                        params.bufferSize = 16384;
                    }

                    var options = {
                        disableLogs: params.disableLogs || false,
                        video: recordingPlayer
                    };

                    if(params.bufferSize) {
                        options.bufferSize = parseInt(params.bufferSize);
                    }

                    if(params.frameInterval) {
                        options.frameInterval = parseInt(params.frameInterval);
                    }

                    if(videoBitsPerSecond) {
                        options.videoBitsPerSecond = videoBitsPerSecond;
                    }

                    options.type = type;
                    var videoRecorder = RecordRTC(button.stream, options);

                    // Start recording
                    videoRecorder.initRecorder(function() {
                        videoRecorder.startRecording();
                    });

                    button.recordRTC.push(videoRecorder);

                    button.recordingEndedCallback = function() {
                        recordingPlayer.parentNode.appendChild(document.createElement('hr'));
                    };
                    return;
                }

                var options = {
                    type: type,
                    mimeType: mimeType,
                    disableLogs: params.disableLogs || false,
                    getNativeBlob: false, // enable it for longer recordings
                    video: recordingPlayer
                };

                if(videoBitsPerSecond) {
                    options.videoBitsPerSecond = videoBitsPerSecond;
                }

                button.recordRTC = RecordRTC(button.stream, options);

                button.recordingEndedCallback = function(url) {
                    setVideoURL(url);
                };

                button.recordRTC.startRecording();
            };
        }
    };

    function captureVideo(config) {
        captureUserMedia({video: true}, function(videoStream) {
            config.onMediaCaptured(videoStream);

            addStreamStopListener(videoStream, function() {
                config.onMediaStopped();
            });
        }, function(error) {
            config.onMediaCapturingFailed(error);
        });
    }

    var videoBitsPerSecond;

    function captureUserMedia(mediaConstraints, successCallback, errorCallback) {
        if(mediaConstraints.video == true) {
            mediaConstraints.video = {};
        }

        videoBitsPerSecond = null;

        navigator.mediaDevices.getUserMedia(mediaConstraints).then(function(stream) {
            successCallback(stream);

            setVideoURL(stream, true);
        }).catch(function(error) {
            if(error && error.name === 'ConstraintNotSatisfiedError') {
                alert('{%blocktrans%}Your camera or browser does NOT supports selected resolutions or frame-rates. \n\nPlease select "default" resolutions.{%endblocktrans%}');
            }

            errorCallback(error);
        });
    }

    function saveToDiskOrOpenNewTab(recordRTC) {
        var fileName = 'RecordRTC-' + (new Date).toISOString().replace(/:|\./g, '-') + '.' + fileExtension;

        // upload to server
        recordingDIV.querySelector('#upload-to-server').parentNode.style.display = 'block';
        recordingDIV.querySelector('#upload-to-server').disabled = false;
        recordingDIV.querySelector('#upload-to-server').onclick = function() {
            if(!recordRTC) return alert('{%blocktrans%}No recording found{%endblocktrans%}.');
            this.disabled = true;

            var button = this;
            uploadToServer(fileName, recordRTC, function(progress, fileURL) {
                if(progress === 'ended') {
                    button.disabled = false;
                    button.innerHTML = '{%blocktrans%}Click to download from server{%endblocktrans%}';
                    var alert = document.createElement("div");
                    alert.setAttribute('class', 'alert alert-success');
                    alert.innerHTML = '{%blocktrans%}Upload completed.{%endblocktrans%}';
                    button.parentNode.appendChild(alert);
                    button.onclick = function() {
                        SaveFileURLToDisk(fileURL, fileName);
                    };

                    setVideoURL(fileURL);
                    return;
                }
                button.innerHTML = progress;
            });
        };
    }

    function uploadToServer(fileName, recordRTC, callback) {
        var blob = recordRTC instanceof Blob ? recordRTC : recordRTC.getBlob();

        blob = new File([blob], 'RecordRTC-' + (new Date).toISOString().replace(/:|\./g, '-') + '.' + fileExtension, {
            type: mimeType
        });

        // create FormData
        var formData = new FormData();
        //formData.append('video-filename', fileName);
        //formData.append('video-blob', blob);
        formData.append('videofile', blob);
        formData.append('gloss_id', {{gloss.pk}});
        formData.append('csrfmiddlewaretoken', "{{csrf_token}}");

        callback('Uploading recorded-file to server.');

        makeXMLHttpRequest('/video/upload/recorded/', formData, function(progress, responseJSON) {
            if (progress !== 'upload-ended') {
                callback(progress);
                return;
            }
            responseJSON = JSON.parse(responseJSON);
            // Parse the video id from json key 'videoid'
            var initialURL = '/video/'+responseJSON["videoid"]+'/';
            callback('ended', initialURL);
        });
    }

    function makeXMLHttpRequest(url, data, callback) {
        var request = new XMLHttpRequest();
        request.onreadystatechange = function() {
            if (request.readyState == 4 && request.status == 200) {
                // Get video id, so that we can link to the created one
                callback('upload-ended', request.response);
            }
        };

        request.upload.onloadstart = function() {
            callback('Upload started');
        };

        request.upload.onprogress = function(event) {
            callback('Upload Progress ' + Math.round(event.loaded / event.total * 100) + "%");
        };

        request.upload.onload = function() {
            callback('progress-about-to-end');
        };

        request.upload.onload = function() {
            callback('progress-ended');
        };

        request.upload.onerror = function(error) {
            callback('Failed to upload to server');
        };

        request.upload.onabort = function(error) {
            callback('Upload aborted.');
        };

        request.open('POST', url);
        request.send(data);
    }

    function SaveFileURLToDisk(fileUrl, fileName) {
        var hyperlink = document.createElement('a');
        hyperlink.href = fileUrl;
        hyperlink.target = '_blank';
        hyperlink.download = fileName || fileUrl;

        (document.body || document.documentElement).appendChild(hyperlink);
        hyperlink.onclick = function() {
           (document.body || document.documentElement).removeChild(hyperlink);
        };

        var mouseEvent = new MouseEvent('click', {
            view: window,
            bubbles: true,
            cancelable: true
        });

        hyperlink.dispatchEvent(mouseEvent);

        // NEVER use "revoeObjectURL" here
        // you can use it inside "onclick" handler, though.
        // (window.URL || window.webkitURL).revokeObjectURL(hyperlink.href);

        // if you're writing cross-browser function:
        if(!navigator.mozGetUserMedia) { // i.e. if it is NOT Firefox
           window.URL.revokeObjectURL(hyperlink.href);
        }
    }

    function getURL(arg) {
        var url = arg;

        if(arg instanceof Blob || arg instanceof File) {
            url = URL.createObjectURL(arg);
        }

        if(arg instanceof RecordRTC || arg.getBlob) {
            url = URL.createObjectURL(arg.getBlob());
        }

        if(arg instanceof MediaStream || arg.getTracks || arg.getVideoTracks) {
            url = URL.createObjectURL(arg);
        }

        return url;
    }

    function setVideoURL(arg) {
        var url = getURL(arg);

        var parentNode = recordingPlayer.parentNode;
        parentNode.removeChild(recordingPlayer);
        parentNode.innerHTML = '';

        var elem = 'video';

        recordingPlayer = document.createElement(elem);

        recordingPlayer.addEventListener('loadedmetadata', function() {
            if(navigator.userAgent.toLowerCase().indexOf('android') == -1) return;

            // android
            setTimeout(function() {
                if(typeof recordingPlayer.play === 'function') {
                    recordingPlayer.play();
                }
            }, 2000);
        }, false);

        recordingPlayer.poster = '';
        recordingPlayer.src = url;

        if(typeof recordingPlayer.play === 'function') {
            recordingPlayer.play();
        }

        recordingPlayer.addEventListener('ended', function() {
            url = getURL(arg);
            recordingPlayer.src = url;
        });

        recordingPlayer.controls = true;
        parentNode.appendChild(recordingPlayer);
    }
</script>
</div>
