{% extends "simple.html" %}
{% load i18n %}

{# Translators: Page title #}
{% block pagetitle %}{% blocktrans %}Auslan Update Video for Gloss{% endblocktrans %}{% endblock %}

{% block jqueryready %}

  flowplayer("player1", "{{ STATIC_URL }}flowplayer/flowplayer-3.1.5.swf", '{% auslan_media_prefix %}{{ gloss.get_video_url }}'); 
  flowplayer("player2", "{{ STATIC_URL }}flowplayer/flowplayer-3.1.5.swf", '{% auslan_media_prefix %}{{ videofile }}'); 
  
{% endblock %}

{% block extrahead %}

<style type="text/css">

td .player {
   width: 320px;
}
.player {
   margin: auto;
   width:320px;
   height:240px;
   border-left: 6px solid black;
   border-right: 6px solid black;
}

#container {
  text-align: center;
  padding: 2em;
}
#videos {
  width: 100%;
  margin: auto;
}
</style>

{% endblock %}


{% block content %}
<div id="container">
{# Translators: Header2 #}
<h2>{% blocktrans %}Update Video for Gloss{% endblocktrans %} <em>{{gloss.idgloss}}</em></h2>

{% ifequal status "cancelled" %}
{# Translators: When replacing video and cancelling replacement #}
<p>{% blocktrans %}Replacement of video cancelled.{% endblocktrans %}</p>

{# Translators: #}
<p><a href="javascript:window.close()">{% blocktrans %}Close Window{% endblocktrans %}</a></p>

{% else %}
    {% ifequal status "completed" %}
    {# Translators: When replacing video and replacement is completed #}
    <p>{% blocktrans %}Replacement of video completed.{% endblocktrans %}</p>

    {# Translators: #}
    <p><a href="javascript:window.close()">{% blocktrans %}Close Window{% endblocktrans %}</a></p>
    {% endifequal %}
{% endifequal %}

{% ifequal status "form" %}
{% if videofile %}

<table id="videos">
<thead>
  {# Translators: #}
  <tr><th>{% blocktrans %}Existing Video{% endblocktrans %}</th>{# Translators: #}<th>{% blocktrans %}New Video{% endblocktrans %}</th></tr>
</thead>
<tbody>
  <tr>
    <td><div class='player' id="player1"></div></td>
    <td><div class='player' id="player2"></div></td>        
  </tr>
  
  <tr>
    <td colspan="2">
    <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="confirmvideofile" value="{{videofile}}"/>
    {# Translators: #}
    {% blocktrans %}Confirm update of this video:{% endblocktrans %}
    {# Translators: Submit button #}
    <input type="submit" value="{% blocktrans %}Confirm{% endblocktrans %}"/>
    {# Translators: Button #}
    <button name="Cancel" value="cancel">{% blocktrans %}Cancel{% endblocktrans %}</button>
    </form>
    </td>
  </tr>
    
  </tbody>
</table>

{% else %}

<form method="POST" enctype="multipart/form-data">
 {% csrf_token %}
 <ul>
  {{form.as_ul}}
 </ul>
 {# Translators: Submit button #}
 <p><input type='submit' value='{% blocktrans %}Upload Video{% endblocktrans %}'/></p>
</form>

{# Translators: #}
<p>{% blocktrans trimmed %}When you upload a video it will first be converted to
the video format used on the site. you will get a 
chance to preview the video before any permanent change
is made to the site.{% endblocktrans %}</p>

{# Translators: #}
<p>{% blocktrans trimmed %}For optimum results, please save your video in
a Web format (technically, h264 encoded mp4 files).{% endblocktrans %}</p>

{% endif %}
{% endifequal %}

</div>
{% endblock %}
