# Make this unique, and don't share it with anybody.
SECRET_KEY = 'INSERT_$$$$_YOUR_%%%%_SECRET_@@@@_KEY_%%%%%%_HERE'

ADMINS = (
    ('Firstname Lastname', 'your.email@address.com'),
)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': '/path/to/signbank.db',
    }
}

# Enter your email host for sending mail
EMAIL_HOST='smtp.test.com'
# The port to access EMAIL_HOST
EMAIL_PORT=1234