{% extends "pages/default.html" %}
{% load i18n %}

{% block topcontent %}

<div id="mainlinks">
        <ul data-role="listview" data-inset="true">
           {# Translators: Link title #}
           <li id="sigbanklink"><a title="{% blocktrans %}Search the SignBank Dictionary{% endblocktrans %}" href="/dictionary/" data-ajax='false'>
            {# Translators: Linkt title #}
            <span>{% blocktrans %}SignBank{% endblocktrans %}</span></a></li>
            {# Translators: Link title #}
           <li id="fingerspelllink"><a title="{% blocktrans %}Explore Finger Spelling Signs{% endblocktrans %}" href="/spell/twohanded.html" data-ajax='false'>
           {# Translators: Link title #}
           <span>{% blocktrans %}Finger Spelling{% endblocktrans %}</span></a></li>
            {# Translators: Link title #}
           <li id="numsignlink"><a title="{% blocktrans %}Explore Number Signs{% endblocktrans %}" href="/numbersigns.html" data-ajax='false'>
           {# Translators: Link title #}
           <span>{% blocktrans %}Number Signs{% endblocktrans %}</span></a></li>
        </ul>
</div> 

{% endblock %}


{% block pagecontent %}
{% endblock %}
