<!DOCTYPE html>
{% load bootstrap3 %}
{% load stylesheet %}
{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE|default:'en'}}">
  <head>
    <title>{% blocktrans %}Finnish Signbank{% endblocktrans %}{% block bootstrap3_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signbank.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataset.css' %}">
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="wrap">
        <div class="container">
            <div id="leftcontentborder"></div>
            <div id="rightcontentborder"></div>
            <header id="header">{# Translators: Site title #}
                <h1><a href="{% url 'root_page' %}">{% blocktrans %}Finnish Signbank{% endblocktrans %}</a></h1>
                <div id="langbar">{% include "langbar.html" %}</div>
            </header>
            <div id="menu">
                {% include "menu.html" %}
            </div>
            {% bootstrap_messages %}
            <main role="main">
            {% block content %}{% blocktrans %}(No content){% endblocktrans %}{% endblock %}
            </main>
        </div>
    </div>
    <footer id="footer">
       <div id="footercontainer" class="container">
            <div class="footerbg">
                <div class="logoholder">
                   <a href="https://www.jyu.fi" rel="external">
                     <img id="logojy" src="{% static 'img/jyu-logo_100-compressor.png' %}" class="logofooter" alt="{% blocktrans %}University of Jyväskylä{% endblocktrans %}">
                   </a>
                   <a href="http://www.kuurojenliitto.fi/" rel="external">
                     <img id="logokl"
                       {% if LANGUAGE_CODE == 'fi' %}src="{% static 'img/kl-logo_fin_100-compressor.png' %}"
                       {% elif LANGUAGE_CODE == 'se' %}src="{% static 'img/kl-logo_sve_100-compressor.png' %}"
                       {% else %}src="{% static 'img/kl-logo_eng_100-compressor.png' %}"
                       {% endif %}
                       class="logofooter" alt="{% blocktrans %}Finnish Association of the Deaf{% endblocktrans %}">
                   </a>
                   <a href="https://www.kielipankki.fi/" rel="external">
                     <img id="logokielipankki" src="{% static 'img/kielipankki_logo_cropped-compressor.png' %}" class="logofooter" alt="{% blocktrans %}The Language Bank of Finland{% endblocktrans %}">
                   </a>
                   <a href="https://www.csc.fi" rel="external">
                     <img id="logocsc" src="{% static 'img/csc_2012_logo-compressor.png' %}" class="logofooter" alt="{% blocktrans %}CSC - IT center for science{% endblocktrans %}">
                   </a>
                </div>
                <div id="license">

                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

<script>
$('a.close').on('click', function(event){
    event.preventDefault();
    event.stopPropagation();
    var parent = $(this).parent();
    $.get(event.currentTarget.href).done(function () {
        parent.remove();
        var badge = $('#live_notify_badge');
        var val = parseInt(badge.text())
        badge.text(val - 1);
        if (val - 1 <= 0) {
            $('button#notifications-list').removeClass('btn-danger');
        }
    });
});
$('a#notifications_mark_all_read').on('click', function(event){
    event.preventDefault();
    event.stopPropagation();
    $.get(event.currentTarget.href).done(function () {
        $('div.notification').remove();
        var badge = $('#live_notify_badge');
        badge.text("0");
        $('button#notifications-list').removeClass('btn-danger');
    });
});
</script>
    {% block extrajs %}{% endblock %}
  </body>
</html>
    

  