<!DOCTYPE html>
{% load bootstrap3 %}
{% load stylesheet %}
{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE|default:"fi"}}">
  <head>
    <title>FinSL Signbank{% block bootstrap3_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/signbank.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/dataset.css" %}">
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="wrap">
        <div class="container">
            <div id="leftcontentborder"></div>
            <div id="rightcontentborder"></div>
            <header id="header">{# Translators: Site title #}
                <h1><a href="{% url "root_page" %}">{% blocktrans %}FinSL Signbank{% endblocktrans %}</a></h1>
                <div id="langbar">{% include "langbar.html" %}</div>
            </header>
            <div id="menu">
                {% include "menu.html" %}
            </div>
            {% bootstrap_messages %}
            <main role="main">
            {% block content %}{% blocktrans %}(No content){% endblocktrans %}{% endblock %}
            </main>
        </div>
    </div>
    <footer id="footer">
       <div id="footercontainer" class="container">
           <div class="row footerbg">
               <div id="logoholder" class="col-md-4">
                        <img id="logojy" src="{% static "css/images/jy_text_50-min.png" %}" class="img-responsive logo" alt="{% blocktrans %}University of Jyväskylä{% endblocktrans %}">
                        <img id="logokl" src="{% static "css/images/kl-logo-fi-50-min.png" %}" class="img-responsive logo" alt="{% blocktrans %}Finnish Association of the Deaf{% endblocktrans %}">
               </div>
                <div id="license" class="col-md-8">

                </div>
            </div>
        </div>
    </footer>
    <script src="{% static "js/jquery-2.2.4.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    {% block extrajs %}{% endblock %}
  </body>
</html>
    

  