{% load i18n %}
<div id="langselect">{% include "setlang.html" %}</div>
{% if user.is_authenticated %}{% include 'notifications/list.html' %}{% endif %}
<div id="login">
    {% if user.is_authenticated %}
    {# Translators: User profile menu button #}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            {% if request.user.is_staff %}
            <li><a href="/admin/">{% blocktrans %}Django admin{% endblocktrans %}</a></li>
            <li role="separator" class="divider"></li>
            {% endif %}
            <li><a href="/accounts/password/change/">{% blocktrans %}Change password{% endblocktrans %}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                {% blocktrans %}Sign out{% endblocktrans %}</a></li>
        </ul>
    </div>
    {% else %}
    {# Translators: Sign in link #}
    <a class="btn btn-default" role="button" href="/accounts/login/">
        {% blocktrans %}Sign in{% endblocktrans %}</a>
    <a class="btn btn-info" role="button" href="/accounts/register/">
        {% blocktrans %}Create account{% endblocktrans %}
    </a>
    {% endif %}
</div>