{% load i18n %}
<div id="langselect">{% include "setlang.html" %}</div>
{% if user.is_authenticated %}{% include 'notifications/list.html' %}{% endif %}
<div id="login">
    {% if user.is_authenticated %}
    {# Translators: User profile menu button #}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            {% if request.user.is_staff %}
            <li><a href="{% url 'admin:index' %}">{% blocktrans %}Django admin{% endblocktrans %}</a></li>
            <li role="separator" class="divider"></li>
            {% endif %}
            <li><a href="{% url 'password_change' %}">{% blocktrans %}Change password{% endblocktrans %}</a></li>
            <li role="separator" class="divider"></li>
            <form id="logout-form" method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <li>
                    <button type="submit" style="background:none;border:none;cursor:pointer;display:block;padding: 3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap;">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> {% blocktrans %}Sign out{% endblocktrans %}
                    </button>
                </li>
            </form>
        </ul>
    </div>
    {% else %}
    {# Translators: Sign in link #}
    <a class="btn btn-default" role="button" href="{% url 'login' %}">
        {% blocktrans %}Sign in{% endblocktrans %}</a>
    <a class="btn btn-primary" role="button" href="{% url 'django_registration_register' %}">
        {% blocktrans %}Create account{% endblocktrans %}
    </a>
    {% endif %}
</div>