{% load i18n %}
{% load flatpages %}
{% get_flatpages as flatpages %}

<nav id='navbar' class="navbar navbar-default" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            {# Translators: Button to toggle navigation #}
            <span class="sr-only">{% blocktrans %}Toggle navigation{% endblocktrans %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">
        {% for page in flatpages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
        {% if perms.dictionary.search_gloss %}
            <li><a href="https://github.com/Signbank/FinSL-signbank/wiki" target="_blank">
                {% blocktrans %}Wiki{% endblocktrans %}</a></li>
            <li><a href="{% url "admin_gloss_list" %}">{% blocktrans %}Search{% endblocktrans %}</a></li>
        {% endif %}
        {% if perms.dictionary.add_gloss and perms.dictionary.change_gloss %}
            <li class='dropdown'>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {% blocktrans %}Manage{% endblocktrans %} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url "create_gloss" %}">{% blocktrans %}Create gloss{% endblocktrans %}</a></li>
                    <li><a href="{% url "video:upload_videos" %}">{% blocktrans %}Upload videos{% endblocktrans %}</a></li>
                    <li><a href="{% url "video:manage_videos" %}">{% blocktrans %}Manage uploaded videos{% endblocktrans %}</a></li>
                    {% if perms.dictionary.import_csv %}
                    <li><a href="{% url "dictionary:import_gloss_csv" %}">{% blocktrans %}CSV import{% endblocktrans %}</a></li>
                    {% endif %}
                    <li><a href="{% url "infopage" %}">{% blocktrans %}Info{% endblocktrans %}</a></li>
                </ul>
            </li>
        {% endif %}
        </ul>

        <form class="navbar-form navbar-right" role="search" id="menusearch" name="menusearch" method="get"
              action="/dictionary/search/">

            <div class="form-group">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                {# Translators: Placeholder text in a search textfield #}
                <input class='form-control disabled' placeholder='{% blocktrans %}Search gloss{% endblocktrans %}' type="text"
                       name="search" value="{{ search }}" maxlength="50" disabled>
            </div>
            <div class="form-group">
                {# Translators: Placeholder text in a search textfield #}
                <input class='form-control disabled' placeholder='{% blocktrans %}Search translation{% endblocktrans %}'
                       type="text" name="keyword" value="{{ keyword }}" maxlength="50" disabled>
            </div>
            {# Translators: Submit button (press to search) #}
            <button type="submit" class="btn btn-default disabled" disabled>{% blocktrans %}Search{% endblocktrans %}</button>
        </form>
    </div>
    <!-- /.navbar-collapse -->
</nav>

