{% load i18n %}
{# This template has the feature for setting language #}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{# This is a form to change the language #}
<form action="{% url "set_language" %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <div class="btn-group" role="group" aria-label="{% blocktrans %}Language selection{% endblocktrans %}">
    {% for language in languages %}
        <button type="submit" name="language" value="{{ language.code }}"
                class="btn btn-primary{% if language.code == LANGUAGE_CODE %} active{% endif %}" data-toggle="tooltip"
                data-placement="bottom" title="{{language.name_local}}">{{ language.code }}</button>
    {% endfor %}
    </div>
</form>

