{# Parameters #}
{# username (string) #}
{#   Either "" indicating that the user is not logged in, or the user name in <first name> <last name> form. #}
{# title (string #}
{#   The title of the page, appears in horizontal span above content. #}

{% extends "standardlayout.html" %}
{% load i18n %}

{% block sideuppercontent %}
{% endblock %}

{% block sidelowercontent %}
{% endblock %}

{% block pagecontent %}
    {# Translators: Header1 #}
    <h1>{% blocktrans %}General feedback summary{% endblocktrans %}</h1>
    
    <table>

      <tr>{# Translators: Feedback summary #}<th>{% blocktrans %}Date{% endblocktrans %}</th>{# Translators: Feedback summary #}<th>{% blocktrans %}User{% endblocktrans %}</th>{# Translators: Feedback summary #}<th>{% blocktrans %}Comment{% endblocktrans %}</th></tr>

      {% for feedback in feedbacklist %}
      <tr>
        <td>{{feedback.date}}</td>
        <td>{{feedback.user}}</td>
        <td>{{feedback.comment}}{% ifnotequal feedback.video "" %}<br /><br /><a href="upload/{{feedback.video}}">{{feedback.video}}</a>{% endifnotequal %}</td>
      </tr>

      {% end for %}      
    </table>


{% endblock %}