{% extends "baselayout.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}


{% if valid %}
    {# Translators: Feedback #}
    <p class='alert alert-info'>
     {% blocktrans %}Thanks for your comment. We value your contribution.{% endblocktrans %}
    </p>
{% else %}
    {# Translators: Header2 #}
    <div class="col-md-6 col-md-offset-3">
     <h2>{% blocktrans %}General Feedback{% endblocktrans %}</h2>

    {# Translators: Feedback #}
   <p>{% blocktrans trimmed %}Please enter any comments you may have about this site and click
   "submit" to send your feedback to us. We value your contributions and comments.</p>
   
  <form method="post" name="general" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="{{form.comment.name}}Div" class="formcomponent">
        {# Translators: Feedback #}
      <label for='comment'>{% blocktrans %}General comments, suggestions, or anything you feel like telling us.{% endblocktrans %}</label>
      {%if form.comment.errors %}{{form.comment.errors}}{% endif %}
      {% bootstrap_field form.comment show_label=False %}
    </div>

    <div id="{{form.video.name}}Div" class="formcomponent">
        {# Translators:  #}
      <label for='video'>{% blocktrans %}Upload your feedback as a video.{% endblocktrans %}</label>
      {%if form.video.errors %}{{form.video.errors}}{% endif %}
      {% bootstrap_field form.video show_label=False %}
        {# Translators: Note about sending feedback as a video #}
      <p>{% blocktrans trimmed %}NOTE: Video files can be quite large, and may take a long time to send.
           Please be patient when submitting this feedback.{% endblocktrans %}</p>
    </div>

    <hr>
    <div class="formbuttons">
        {# Translators:  #}
      <input class='btn btn-primary' type="submit" value="{% blocktrans %}Submit{% endblocktrans %}" class="submit" />
    </div>
    <hr>
  </form>
  </div>
{% endif %}
{% endblock %}