{% extends "baselayout.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block extrajs %}
<script type='text/javascript'>
$(document).ready(function(){

    /* the togglevideobutton switches between input for
       video upload and input for manual entry of sign
       details. Manual entry is the default */
   $("#togglevideobutton").click(function() {
       $("#videoupload").toggle();
       $("#signdescriptioninput").toggle();
       return false;
    });
    $("#videoupload").hide();
    
    
    /* the choice of one, two together or two apart hands
       determines whether some form fields are hidden */
       
    $("#id_handform").change(function() {
       if ($(this).val() == "1") {
           $("#relativelocationdiv").hide();
           $("#althandshapediv").hide();
           $("#handinteractiondiv").hide();
       } else if ($(this).val() == "2") {
           $("#relativelocationdiv").hide();
           $("#althandshapediv").show();
           $("#handinteractiondiv").show();
       } else {
           $("#relativelocationdiv").show();
           $("#althandshapediv").show();
           $("#handinteractiondiv").show();
       }
       return false;
    }).change();
});
</script>
{% endblock %}
 
 


{% block content %}
  <div class="col-md-6 col-md-offset-3">
      {# Translators: Heading2 #}
      <h2>{% blocktrans %}Missing Sign Feedback{% endblocktrans %}</h2>
      
  {% if posted %}
<div id="feedbackmessage">
    {# Translators:  #}
    <p class='alert alert-info'>
        {% blocktrans %}Thank you for your feedback.{% endblocktrans %}
    </p>
</div>    
  {% else %}
    {# Translators:  #}
    <p>{% blocktrans trimmed %}Please fill out the required questions opposite and then
    click 'Submit' to report a missing sign to the {{language}} signbank.{% endblocktrans %}</p>
    {# Translators:  #}
    <p>{% blocktrans trimmed %}If verified, the site will be updated
         to include the new sign.  Note that this may take some time depending 
         on the level of requests.{% endblocktrans %}</p>

<form method="post" enctype="multipart/form-data" name="missingsign">
   {% csrf_token %}
    {# Translators:  #}
    <p>{% blocktrans trimmed %}You may either upload a video that shows the missing sign or
    fill in details in a form.  In either case, you should
    enter a meaning and any comments you might have in the text 
    boxes at the bottom of the form.{% endblocktrans %} <p>

    {# Translators: Button #}
    <button class='btn btn-default' id="togglevideobutton">{% blocktrans %}Video Comment{% endblocktrans %}</button>
    
 <fieldset id="videoupload">
   {# Translators: #}
  <legend>{% blocktrans %}Video Upload{% endblocktrans %}</legend>
  <div id="{{form.video.name}}div">
    {% bootstrap_label form.video.label %}

    {# Translators:  #}
    <p>{% blocktrans %}Upload a video of the sign.{% endblocktrans %}</p>
    {%if form.video.errors %}{{form.video.errors}}{% endif %}
    {% bootstrap_field form.video show_label=False %}

    {# Translators:  #}
    <p>{% blocktrans trimmed %}NOTE: Video files can be quite large, and may take a long time to send.
    Please be patient when submitting this feedback.{% endblocktrans %}</p>
  </div>
</fieldset>
 
{# this part of the form only shown if we're not uploading a video #}
<fieldset id="signdescriptioninput">
    {# Translators:  #}
    <legend>{% blocktrans %}Sign Description{% endblocktrans %}</legend>
    
    
    <div id="{{form.handform.name}}div">
        {%if form.handform.errors %}{{form.handform.errors}}{% endif %}
        {% bootstrap_field form.handform %}
    </div>
    
    <div id="{{form.handshape.name}}div">
        {%if form.handshape.errors %}{{form.handshape.errors}}{% endif %}
        {# Translators:  #}
        {% bootstrap_label form.handshape.label %} <a href="{{ STATIC_URL }}images/feedback/guide_handshapes.gif" target="guide">{% blocktrans %}Show Guide{% endblocktrans %}</a>
        {% bootstrap_field form.handshape show_label=False %}
    </div>
    
    <div id="{{form.althandshape.name}}div">
        {% bootstrap_label form.althandshape.label %}
          {# Translators:  #}
          <a href="{{ STATIC_URL }}images/feedback/guide_handshapes.gif" target="guide">{% blocktrans %}Show Guide{% endblocktrans %}</a>

        {%if form.althandshape.errors %}{{form.althandshape.errors}}{% endif %}
        {% bootstrap_field form.althandshape show_label=False %}
    </div>
    
    <div id="{{form.location.name}}div">
         {% bootstrap_label form.location.label %}
         {# Translators:  #}
         <a href="{{ STATIC_URL }}images/feedback/guide_signpos.gif" target="guide">{% blocktrans %}Show Guide{% endblocktrans %}</a>
        {%if form.location.errors %}{{form.location.errors}}{% endif %}
        {% bootstrap_field form.location show_label=False %}
    </div>
    
    <div id="{{form.relativelocation.name}}div">
        <label>{{form.relativelocation.label}} *
         {# Translators:  #}
         <a href="{{ STATIC_URL }}images/feedback/guide_relativesignpos.gif" target="guide">{% blocktrans %}Show Guide{% endblocktrans %}</a>
        </label>
        {%if form.relativelocation.errors %}{{form.relativelocation.errors}}{% endif %}
        {% bootstrap_field form.relativelocation show_label=False %}
    </div>

    {# Translators:  #}
    <p id="movementmessagep">{% blocktrans trimmed %}Using the guide, select the movement symbol/word that
      best describes this sign. Please choose either: one only (chosen from any category), 
      or a choice from every category.{% endblocktrans %}</p>
    
    <div id="{{form.handbodycontact.name}}div">
      {% bootstrap_label form.handbodycontact.label %}
      <img src="{{ STATIC_URL }}images/feedback/guide_movecontact.gif" class="formguide">
      {%if form.handbodycontact.errors %}{{form.handbodycontact.errors}}{% endif %}
      {% bootstrap_field form.handbodycontact show_label=False %}
    </div>
    
    <div id="{{form.handinteraction.name}}div">
    {% bootstrap_label form.handinteraction.label %}
    <img src="{{ STATIC_URL }}images/feedback/guide_moveinteraction.gif" class="formguide">
    {%if form.handinteraction.errors %}{{form.handinteraction.errors}}{% endif %}
    {% bootstrap_field form.handinteraction show_label=False %}
    </div>
    
    <div id="{{form.direction.name}}div">
    {% bootstrap_label form.direction.label %}
    <img src="{{ STATIC_URL }}images/feedback/guide_movedirection.gif" class="formguide">
    {%if form.direction.errors %}{{form.direction.errors}}{% endif %}
    {% bootstrap_field form.direction show_label=False %}
    </div>
    
    <div id="{{form.movementtype.name}}div">
    {% bootstrap_label form.movementtype.label %}
    <img src="{{ STATIC_URL }}images/feedback/guide_movetype.gif" class="formguide">
    {%if form.movementtype.errors %}{{form.movementtype.errors}}{% endif %}
    {% bootstrap_field form.movementtype show_label=False %}
    </div>
    
    <div id="{{form.smallmovement.name}}div">
    {% bootstrap_label form.smallmovement.label %}
    <img src="{{ STATIC_URL }}images/feedback/guide_movehands.gif" class="formguide">
    {%if form.smallmovement.errors %}{{form.smallmovement.errors}}{% endif %}
    {% bootstrap_field form.smallmovement show_label=False %}
    </div>
    
    <div id="{{form.repetition.name}}div">
    {% bootstrap_label form.repetition.label %}
    {%if form.repetition.errors %}{{form.repetition.errors}}{% endif %}
    {% bootstrap_field form.repetition show_label=False %}
    </div>
    
</fieldset>

<fieldset id="meaninginput">
  <legend>Details</legend>
    <div id="{{form.meaning.name}}div">
        {# Translators:  #}
        <p>{% blocktrans %}Please explain the meaning of the new or missing sign, or enter individual English words that have the same meaning as this sign (i.e. keywords).{% endblocktrans %}</p>
        {%if form.meaning.errors %}{{form.meaning.errors}}{% endif %}
        {% bootstrap_field form.meaning show_label=False %}
    </div>

    <div id="{{form.comments.name}}div">
        {# Translators:  #}
        <p>{% blocktrans %}Are there any other comments you would like to give about this sign? For example, do you think there are other or extra keyword/s that belong with this sign? If so, please include your comments below.{% endblocktrans %}</p>
        {%if form.comments.errors %}{{form.comments.errors}}{% endif %}
        {% bootstrap_field form.comments show_label=False %}
    </div>
</fieldset>
 
<hr>
<div class="formbuttons">
  {# Translators: Submit button #}
  <input class='btn btn-primary' type="submit" value="{% blocktrans %}Submit Feedback{% endblocktrans %}" class="submit" />
</div>
<hr>
</form>

</div>
  {% endif %}
{% endblock %}