{% load i18n %}
       <table width="450" border="0" cellspacing="0" cellpadding="0">
        <tr>
          {# Translators: View sign feedback, row #}
          <td class="asbCFrameTopLowerExtraRow">{% blocktrans %}Sign Feedback{% endblocktrans %}</td>
        </tr>
        
	<tr>
	  <td class="asbBodyCell">
{# Translators: Feedback #}
<p> {% blocktrans %}There is currently insufficient feedback stored for this sign to generate a
 summary according to user groups. Unless a certain number of responses have
 been received about any particular sign, percentage displays would be
 misleading.{% endblocktrans %}</p>


</td>
</tr>
</table>
