{% extends "baselayout.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}
{# Translators: Title for comments search page #}
{% block bootstrap3_title %}{% blocktrans %}Search Comments{% endblocktrans %} | {% endblock %}
{% block content %}
<div class="search_comments">
    <h2><a href="{% url 'search_comments' %}">{% blocktrans %}Search comments{% endblocktrans %}</a></h2>
    <form class="form-inline" method="GET" action="">
        {% bootstrap_form form layout='inline' %}
        {% bootstrap_form tag_form %}
        <input class="btn btn-default" type="submit" value="{% blocktrans %}Search{% endblocktrans %}">
    </form>
    <hr>
{% for comment in object_list %}
    {% load tagging_tags %}
    {% tags_for_object comment as tag_list %}
    <article class="comment">
        <header>
            <h4><a href="{{comment.get_absolute_url}}"><strong>{{comment.content_object}}</strong>
                {% if comment.content_object.dataset %}{# if we some day use this elsewhere, don't want this to break #}
                <span class="dataset-{{comment.content_object.dataset.id}}-color label label-default" style="display:inline-block;padding-bottom:0.2em;margin-bottom:2px;">
                    {{comment.content_object.dataset}}</span> -
                {% endif %}
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <em>{{comment.submit_date}}</em> -
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{comment.user}}</a>
                {% if tag_list %}
                    {% for tag in tag_list %}
                <div class="comment-tags" style="display:inline;">
                    <span class="label label-info" style="font-size:60%;">{{tag}}</span>
                </div>
                    {% endfor %}
                {% endif %}
            </h4>
        </header>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>{{comment.comment}}</p>
            </div>
        </div>
    </article>
{% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        <ul class="pagination pagination-sm">
        {% if page_obj.has_previous %}{# Insert dataset from request #}
            <li><a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo; {% blocktrans %}previous{% endblocktrans %}</a>
        {% endif %}
        {% for curpage in page_obj.paginator.page_range %}
            <li{% if curpage == page_obj.number %} class="active"{% endif %}><a href="?page={{ curpage }}{% for key,value in request.GET.items %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ curpage }}</a>
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{% blocktrans %}next{% endblocktrans %} &raquo;</a>
        {% endif %}
        </ul>
        <p>{% blocktrans %}Total of{% endblocktrans %} {{ page_obj.paginator.count }} {% blocktrans context 'count' %}comments{% endblocktrans %}.</p>
    </span>
</div>

{% endblock %}