{% extends "baselayout.html" %}
{% load i18n %}
{% block bootstrap3_title %}{{flatpage.title}} | {% endblock %}

{% block content %}
{% block pagecontent %}
<div class='row'>
    <div class="col-md-10 col-md-offset-1">
    {{ flatpage.content }}
    </div>
</div>


{% endblock %}
{% block bottomcontent %}
{# show the edit button if the user has permission to change pages #}
{% if perms.flatpages.change_flatpage %}
<div id="editbutton">
    {# Translators: Edit page button in baselayout #}
    <a class='btn btn-default btn-lg' href="{% url 'admin:flatpages_flatpage_change' flatpage.pk %}" style="width:100%;">{% blocktrans %}Edit Page{% endblocktrans %}</a>
</div>
{% endif %}

{% endblock %}
{% endblock %}

